[2019-04-08 00:51] zhenghuiwang opened #4 "Define a set of metadata specifications for v0.6"
These metadata specifications should

1. cover metadata needed for [v0.6 CUJ](http://bit.ly/kf-meta-cuj), including model, hyperparameters, metrics etc.
2. show how customized metadata can be defined in a similar way.

These metadata specifications are preloaded during server start, while customized ones are registered via endpoints.

[2019-04-08 01:02] zhenghuiwang opened #5 "Define metadata service API"
For [v0.6 CUJ](http://bit.ly/kf-meta-cuj), we need to define metadata service API:
1. It should provide endpoints to create, read, update and delete metadata.
2. It should be able to connect related metadata in a machine learning workflow.
3. A UI for the CUJ can be built on top of this API and the built-in metadata(#4),
4. It can handle customized metadata in a similar way to built-in metadata.

[2019-04-08 01:04] zhenghuiwang opened #6 "Create a Python library for v0.6"
Create a Python library for logging metadata in Notebook and Kubeflow Pipeline:

- Create `workspace` to organize machine learning projects.
- Create a `run` of notebook and pipeline.
- CRUD `artifact`(data_set, model, metrics, HPs)  and `execution` information in a run.
- Link the relations among workspace, run, artifacts, and executions.

[2019-04-08 01:05] zhenghuiwang opened #7 "Create a UI for v0.6"
This UI can show models and workflows in Notebook and Kubeflow Pipeline.

[2019-04-08 01:06] zhenghuiwang opened #8 "Metadata sevice Implementation for v0.6"
Implement the API defined in #5 for v0.6.

[2019-04-08 01:14] zhenghuiwang opened #9 "Make metadata service implementations discoverable"
We need to
1. inform users all available metadata service implementations.
2. make the decision and installation of the chosen one easy for users.

[2019-04-08 01:18] zhenghuiwang commented on #9
@mvartakAtVerta could you [join kubeflow.org](https://www.kubeflow.org/docs/about/contributing/) so that you can take this?

[2019-04-08 18:49] zhenghuiwang commented on #5
/cc @neuromage @jlewi @mvartakAtVerta @terrytangyuan

[2019-04-08 18:49] zhenghuiwang commented on #6
/cc @neuromage @jlewi @mvartakAtVerta @terrytangyuan

[2019-04-08 18:49] zhenghuiwang commented on #4
/cc @neuromage @jlewi @mvartakAtVerta @terrytangyuan

[2019-04-09 01:18] zhenghuiwang commented on #4
Some thoughts on what format/tool should be used to define the spec.

We need to handle customized types during runtime. Protobuf is not good at this case, because it needs to compile and generate code. [JSON schema](https://json-schema.org/) seems to be a good fit:

1. Schema can be referenced and extended.
2. Many libraries are available to compile schema and validate JSON during runtime.

Follo

[2019-04-09 07:06] terrytangyuan commented on #4
+1 for using JSON schema. Two questions:

1. Should we use “data_set” or “dataset” (personally prefer “dataset”)?
2. Could you clarify what kind of data transformation is executable? In some scenarios, data transformations may be part of the model itself, e.g. a TensorFlow graph containing both preprocessing and the trained model. There are also other types of  model artifacts such as PMML and PFA

[2019-04-10 05:28] zhenghuiwang commented on #4
I don't have any preference. Based on [wiki](https://en.wikipedia.org/wiki/Data_set) and [google trend](https://trends.google.com/trends/explore?date=today%205-y&geo=US&q=data%20set,dataset), it seems "data set" is more widely used than "dataset".

I meant to use the data transformation from raw data to training data as an example.

I made a mistake in the type hierarchy: An executable should be d

[2019-04-10 07:30] terrytangyuan commented on #4
Sounds good then. That makes more sense. Yes it depends on which way we are looking at. It should be fine as long as we clarify our definition  of model. Users can also define their own customized metadata if needed.

[2019-04-10 15:25] neuromage commented on #4
I think these should be two separate concepts. An artifact represents anything produced by an ML pipeline or run. An executable represents the pipeline/run itself.

[2019-04-10 19:42] zhenghuiwang commented on #4
Absolutely, these two should be treated as separate concepts.

I don't mean to go into taxonomy, but point out that model is viewed as derived data in training phase but can be viewed as executable in serving phase.

[2019-04-11 08:24] johnugeorge commented on #6
It would be easier if we can list down apis that would be supported in this release

[2019-04-11 20:53] zhenghuiwang commented on #6
Updated the description of Python API.

[2019-04-15 17:56] zhenghuiwang opened #11 "Installation of metadata service"
As the first step of https://github.com/kubeflow/metadata/issues/9. We need A kustomize  component to install metadata service in KF cluster.

Make sure the metadata service is reachable. (We can ping the health endpoint of metadata service if KF is installed from Master).

/cc @neuromage @jlewi @mvartakAtVerta @terrytangyuan @ywskycn

[2019-04-15 19:09] jlewi commented on #11
/assign @zhenghuiwang

[2019-04-15 19:13] jlewi commented on #11
Should we split this up into sub issues?

[2019-04-15 19:41] zhenghuiwang commented on #11
This is a separate issue on the actual implementation #8. This one is about the service (a hello world implementation https://github.com/kubeflow/metadata/pull/3) can be installed from KF Master.

[2019-04-22 12:22] jlewi commented on #11
@zhenghuiwang How's this coming? Are we on track to complete this by end of week?

[2019-04-22 12:23] jlewi commented on #5
@zhenghuiwang How's this coming?

[2019-04-22 17:20] zhenghuiwang commented on #5
@neuromage and I should be able to send out a proposal this week.

[2019-04-22 17:22] zhenghuiwang commented on #11
I didn't get a chance to work on it last week. But i will start it today or tomorrow. Should be able to finish it on time.

[2019-04-29 02:31] jlewi commented on #11
@zhenghuiwang Any update on this?

[2019-04-29 16:50] zhenghuiwang opened #17 "Create Metadata spec for model, metrics, workspace and etc"
part of #4

Create the basic type spec for model, metrics, execution, workspace etc so that we can save/retrieve these data directly.

It is not intended to be comprehensive for all use cases.

/assign @zhenghuiwang

[2019-04-29 16:51] zhenghuiwang opened #18 "Add MLMD server"
part of #8

Introduce MLMD as dependency. Try to avoid using it as a library. Otherwise the standard Go tool chain will break, since it is written in C++.

/assign @zhenghuiwang

[2019-04-29 16:53] zhenghuiwang opened #19 "Add endpoints to Create and Read metadata"
part of #5

Add endpoints to CRUD metadata for predefined types.

/assigne @zhenghuiwang

[2019-04-29 16:54] zhenghuiwang opened #20 "Load predefined metadata into servers"
part of #8

Need to load JSON metadata spec into server during start up.

/assign @zhenghuiwang

[2019-04-29 17:00] zhenghuiwang commented on #11
PRs are under reivew. The issue can be closed once the PRs are merged.

[2019-05-02 18:48] animeshsingh opened #22 "Bazel build"
Do we really need bazel build? Seems its not much adopted outside Google, hence if we can avoid?

[2019-05-03 22:47] #11 closed

[2019-05-08 03:58] animeshsingh commented on #17
@zhenghuiwang we would like to collaborate on this one. Any place where you meet, have meeting etc. to discuss this further?

[2019-05-08 20:45] zhenghuiwang commented on #17
@animeshsingh I'm working on a PR for it. We can discuss it in the PR.

[2019-05-10 05:59] #18 closed

[2019-05-11 00:25] zhenghuiwang commented on #22
I think we can eventually avoid bazel. We only need it to update proto file and generated code now.

We will keep the repository working with Go tools.

[2019-05-11 00:31] zhenghuiwang opened #27 "Metadata python library API"
First step of #6

Create high-level python classes such as `workspace`, `run` and logging methods.

Don't need to send metadata to backend since the metadata service is not ready.

/assign @zhenghuiwang

[2019-05-11 00:34] zhenghuiwang commented on #5
#24

[2019-05-13 01:15] jlewi commented on #19
@zhenghuiwang Any update on this?

[2019-05-14 17:01] #17 closed

[2019-05-16 18:35] zhenghuiwang opened #28 "Set up e2e test for presubmit test"
Metadata service currently calls MLMD to manage MySql database. While we have unit tests using MLMD's in memory storage, it is ideal to have e2e tests.

We can start set up the e2e tests framework:
1. Start  metatadata service in kubeflow-ci cluster.
2. Start mysql server.
3. Make sure metadata server can send request to mysql server. (e.g. `/resource` endpoint) Later we may want to send a sequenc

[2019-05-17 17:58] #20 closed

[2019-05-21 21:02] neuromage commented on #19
/assign @neuromage

[2019-05-24 21:51] #27 closed

[2019-05-28 23:47] zhenghuiwang commented on #28
@terrytangyuan Would you be interested in working on it? Thanks

[2019-05-29 00:48] terrytangyuan commented on #28
@zhenghuiwang Thanks! I am still catching up with my projects after KubeCon so I don't think I will be available to work on this at the moment. However, I'll update this issue when I start working on it.

[2019-05-29 18:10] zhenghuiwang opened #40 "Publish metadata python client to PyPI"
part of #6

Need to support this for users to pip install in notebook environment.

[2019-05-29 18:34] zhenghuiwang commented on #40
/assign @gaoning777

[2019-06-10 13:06] jlewi commented on #8
@zhenghuiwang Any update on this? It looks like a bunch of PRs have been opened.

What is the remaining work to be done?

[2019-06-10 13:06] jlewi commented on #5
@zhenghuiwang What is the remaining work to be done on this issue?

[2019-06-10 13:07] jlewi commented on #19
@neuromage Could you provide an update please on this issue? What is the remaining work to be done?

[2019-06-10 13:07] jlewi commented on #7
@avdaredevil @zhenghuiwang Any update on this?

[2019-06-10 13:08] jlewi commented on #6
@zhenghuiwang Any update on this? It looks like some PRs have been merged. What is the remaining work?

[2019-06-10 18:07] zhenghuiwang commented on #6
**What is done**

We can log artifacts information, group them by run and workspace, and list existing artifacts. With all these, we can have a basic experience for our v0.6 notebook CUJ.

**What is not done and probably won't be in v0.6 release**

Given the time we have, it makes more sense to deliver all these together for execution tracking and
artifact lineage tracking along with UI.

[2019-06-10 18:11] zhenghuiwang commented on #7
We have finished the review of UI mocks including artifact list view and model details view.

What will be delivered in v0.6 is the list view of artifacts, including dataset, metrics and models.

[2019-06-10 18:17] zhenghuiwang commented on #8
What is done:
CRUD for artifacts and artifact types.
CRUD for execution and execution types.

The only remaining change is some protobuf definition change of artifact.

[2019-06-10 18:26] zhenghuiwang commented on #5
An update on 4 items in this issue:

It is almost done. We have CRUD endpoints for artifact, artifact type, execution and execution types.
Some API changes for artifact proto definition need to do.

This is a stretch goal for logging the input/output relation between artifact and its execution. We may finish it later for artifact tracking with SDK and UI after this release.

It is done. Built-in m

[2019-06-10 18:48] jlewi commented on #4
@neuromage @zhenghuiwang How is this coming? What is the remaining work for 0.6?

[2019-06-10 19:12] zhenghuiwang commented on #4
The metadata definition for v0.6 has been done in #17. They are preloaded in the backend service during startup and exposed in the python SDK.

We can add more fields into these definitions for future use cases.

[2019-06-10 19:12] #4 closed

[2019-06-10 19:19] jlewi commented on #7
@rileyjbauer Are you planning on working on this?

[2019-06-10 19:24] zhenghuiwang opened #48 "Add a notebook example to demonstrate the Python SDK"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

A notebook for logging metadata to the backend service and show the generated artifacts.
**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

/assign @zhenghuiwang

[2019-06-10 19:27] zhenghuiwang commented on #28
Thanks @terrytangyuan !

I have cycles this week and will finish it before v0.6 release.

/assign @zhenghuiwang

[2019-06-10 20:39] avdaredevil commented on #7
/cc @prodonjs

[2019-06-11 13:23] prodonjs commented on #7
@jlewi Yes @rileyjbauer , Jing and myself will be working on the Metadata UI and plan to get started in earnest this week with the goal of having the artifacts list view in place for 0.6 and a stretch goal to have the model details view.

[2019-06-17 01:57] jlewi commented on #19
@neuromage ping?

[2019-06-17 02:00] jlewi commented on #8
Is this blocked by #19 ? How can the service be ready if we don't have read and create endpoints which is what #19 is providing?

[2019-06-17 02:02] neuromage commented on #19
Fixed with #49

[2019-06-17 02:04] neuromage commented on #19
/close

[2019-06-17 02:04] #19 closed

[2019-06-17 14:36] prodonjs opened #55 "Swagger client generation from service specification doesn't generate all methods"
/kind bug

**What steps did you take and what happened:**
Ran the following command to generate a Typescript client library from the Metadata service specification using version [2.4.5](https://github.com/swagger-api/swagger-codegen/releases/tag/v2.4.5)
`java -jar swagger-codegen-cli.jar generate -i ../api/service.swagger.json -l typescript-fetch -o ./src/apis/service -c ./swagger-config.json`

**

[2019-06-18 16:51] wing328 commented on #55
Was gonna suggest you to try [openapi-generator](https://github.com/OpenAPITools/openapi-generator) (a fork of swagger codegen) instead but seems like the openapi spec/document may not be valid as I got the following errors using [Swagger/OpenAPI Valldator](https://apidevtools.org/swagger-parser/online/):
[code]

(disclosure: I'm the top contributor to both OpenAPI Generator and Swagger Codegen)

[2019-06-18 23:06] zhenghuiwang commented on #55
Thank you @wing328 for the suggestion! I discovered and used openapi-generator for python because of some other issues of swagger-codegen.

@prodonjs I have used openapi-generator to generate swagger python client in the Makefile
https://github.com/kubeflow/metadata/blob/master/Makefile#L31

I tried to genereate a client for typescript, which seems not to have the issues you mentioned above. Would

[2019-06-19 00:56] prodonjs commented on #55
So I was not performing was running the `generate_proto.sh` script first, but I assumed that the existing JSON files checked into the repo were the result of previously running this.

When I run the latter half of the command on the existing files, I get the same result for both the Typescript and Python libraries. Only the *get* and *delete* methods included in the generated code are for executio

[2019-06-19 06:17] zhenghuiwang commented on #55
You're right. There are some methods missing from the generated code. We use `name`/`parent` to represent multiple path segments for various endpoints, resulting overlapped paths. (This is recommended annotation path pattern by Google Could though..)

Your fix would solve the problem for now. If you're blocked by this, we can merge your PR.

But a problem is that `swagger.json` is also generated.

[2019-06-19 12:26] prodonjs commented on #55
I see I wasn't even thinking about the fact that the regeneration of the spec files would remove any changes. I don't think this will be blocking because I can make the change manually and then generate the client libraries and check them in with our changes for the front-end. However, we would need to make the same manual changes again when the service API is updated. For now, I think I can proce

[2019-06-19 17:58] #48 closed

[2019-06-19 20:13] yupbank commented on #7
is there a link for the UI mockups ?

[2019-06-20 12:54] prodonjs commented on #7
I don't know that we have any yet that are publicly shared.

[2019-06-20 17:44] #55 closed

[2019-06-21 20:46] #40 closed

[2019-06-21 20:52] zhenghuiwang opened #60 "Add basic lineage logging for model, data, and metrics in notebook"
/kind feature

**Describe the solution you'd like**
Improve the current backend/PyClient to have a lineage tracking for notebook. For the demo book we should have information which dataset generates the model and the metrics.

[2019-06-21 21:14] jlewi commented on #6
Need to get lineage functionality working and then this is done.

[2019-06-21 21:15] jlewi commented on #8
Need to create some endpoints for lineage.

[2019-06-21 21:30] zhenghuiwang commented on #60
/assign @zhenghuiwang

[2019-06-25 15:47] prodonjs opened #63 "ListArtifacts API method returns 500 status if there are no Artifacts"
/kind bug

**What steps did you take and what happened:**
Making an API request to `/api/v1alpha1/artifacts` returns the following error response and a 500 status code.

[code]

**What did you expect to happen:**
Ideally, one would expect the response to succeed but to contain an empty payload. This actually does occur if one specifies the type of Artifact they want to list. For example, requestin

[2019-06-25 17:22] zhenghuiwang commented on #63
/assign @zhenghuiwang

[2019-06-25 18:41] PsHughes commented on #6
![Last Word Logo](https://user-images.githubusercontent.com/50753712/60124167-a865d500-974e-11e9-98b3-538669bb53fb.jpg)
If I did this correctly.  The logo is L over W.  Preview shows sideways. @PsHughes.

[2019-06-25 21:23] #63 closed

[2019-06-25 23:41] #28 closed

[2019-06-26 13:00] jlewi commented on #7
@prodonjs How's this coming? Will we have something this week?

[2019-06-26 13:01] jlewi commented on #6
@zhenghuiwang Any update on this?

[2019-06-26 13:12] prodonjs commented on #7
Yep we've got good progress being made with a basic list and details view. We should have this baseline functionality checked in today or tomorrow and available for testing within a deployment.

[2019-06-26 17:26] zhenghuiwang commented on #8
#65 and #66 will add lineage tracking support in the backend.

[2019-06-26 21:30] zhenghuiwang opened #67 "Add metadata service as one component in KF v0.6 release"
/kind bug

Now the KF deployment doesn't pick up the metadata service as one component.

[2019-06-26 21:30] zhenghuiwang commented on #67
/priority p0

[2019-06-26 22:06] zhenghuiwang commented on #67
/assign @zhenghuiwang

[2019-06-27 17:55] prodonjs opened #70 "[UI] Add local sorting and filtering to Artifacts List view"
/kind feature
/area front-end

Add basic client-side filtering and sorting controls for artifacts based on [Mocks](https://gallery.googleplex.com/projects/MCHbtQVoQ2HCZUYQ_HerEEyO/files/MCEJu8Y2hyDScV4JnFyjZQDQkSM1yDiF2do).

[2019-06-27 18:02] prodonjs opened #71 "[UI] Add grouping with expansion for Artifacts List view"
/kind feature
/area front-end

Group artifacts by type and name showing the most recent artifact by creation time first.

[Mocks](https://gallery.googleplex.com/projects/MCHbtQVoQ2HCZUYQ_HerEEyO/files/MCEJu8Y2hyDScV4JnFyjZQDQkSM1yDiF2do)

[2019-06-27 18:02] prodonjs commented on #71
/priority p1

[2019-06-27 18:02] prodonjs commented on #70
/priority p1

[2019-06-28 19:02] prodonjs opened #73 "Add support for filtering, sorting, and pagination to Metadata Service"
/kind feature
Target Q3

**Describe the solution you'd like**
These features should be added to the API to enable these operations in the UI. Ideally, List requests would have the same shape as requests in the [Pipelines API](https://github.com/kubeflow/pipelines/blob/3882c306cd0aebf00de8bdb973c018bd07743f70/backend/api/job.proto#L113) so we could re-purpose most of the code there.

[2019-06-28 23:35] #8 closed

[2019-06-28 23:36] zhenghuiwang commented on #5
lineage tracking API is also added to the backend.

[2019-06-28 23:36] #5 closed

[2019-06-28 23:37] zhenghuiwang commented on #6
#69 is under review and will complete the Python SDK for v0.6.

[2019-06-29 20:17] ryandawsonuk commented on #60
Could I ask where I can find the demo book?

[2019-06-29 20:21] ryandawsonuk opened #76 "What integrations with other KF components are available/planned?"
Let’s say I build a model using a TFJob, perhaps run from a KF pipeline. Will my metadata describing that model and it’s origin and training data be stored, or could I easily get it stored? Are there any examples or plans in this area?

[2019-06-29 20:29] ryandawsonuk opened #77 "On-prem data and models"
Let’s say my model or data is in a volume. This might be the case if I’m running on-prem and perhaps my data isn’t allowed to leave my company network. If so does ‘uri’ allow me to capture where it is? I then want a name of a volume and path on the volume. Perhaps those could be introduced as fields or the existing field called ‘location’?

@cvenets perhaps you have a view on this?

[2019-06-29 20:31] ryandawsonuk opened #78 "Categorical data"
ML datasets often contain categorical data encoded numerically. It could be helpful for the metadata store to provide a way to map categories to their numerical representation within a dataset.

[2019-07-01 07:44] zhenghuiwang commented on #60
@ryandawsonuk The [demo notebook source code](https://github.com/zhenghuiwang/metadata/blob/cec82de6a1d6f33d9258929195f80698910a0857/sdk/python/demo.ipynb) is linked in PR #69

Once the SDK being published, the notebook should be able to run in KF notebook service.

[2019-07-01 08:35] ryandawsonuk opened #79 "is model_type restricted or just a sting?"
I see the example where it has value 'neural network' and appears to be a sting. I'm wondering whether there are plans to restrict it to a limited range of values or have a convention to avoid differences of wording e.g. 'neural network' vs 'nn'.

I'm also wondering whether this is enough or there should be a 'model_architecture' vs 'model_type'. For instance, you might have a NN handing image dat

[2019-07-01 15:14] prodonjs opened #81 "[UI] Add lineage sections to Model Detail views"
/kind feature
/area front-end

Retrieve and display related Data Set and Evaluation metrics for Models.

[Mocks](https://gallery.googleplex.com/projects/MCHbtQVoQ2HCZUYQ_HerEEyO/files/MCEJu8Y2hyDScfbmC94M0URb19DWmvsbGa4)

[2019-07-01 19:55] #70 closed

[2019-07-03 18:38] prodonjs commented on #73
/improvement enhancement

[2019-07-03 18:38] prodonjs commented on #73
/label improvement/enhancement

[2019-07-03 18:38] prodonjs commented on #73
/label improvement

[2019-07-03 18:39] prodonjs commented on #73
/improvement

[2019-07-03 18:40] prodonjs commented on #73
/area api
/enhancement

[2019-07-03 18:40] prodonjs commented on #73
/improvement enhancement

[2019-07-03 19:05] prodonjs commented on #81
@zhenghuiwang Can you point me to any guidance or documentation on how we might be able to use the new events API methods you added in #53?

For example, using the data in https://kubeflow-v-n00.endpoints.zhenghui-kubeflow-2.cloud.goog:
`/api/v1alpha1/artifact_types/kubeflow.org/alpha/model/artifacts/40` is the model in question.

`/api/v1alpha1/events/artifacts/40` gives back
[code]
Then, using t

[2019-07-03 21:36] zhenghuiwang commented on #81
You're right. It is a problem: the response doesn't have type info about the artifacts&executions hence you can't retrieve each individual artifact&execution.

Proposed fix: I will add response field `artifacts`: map from id to artifact, and field `executions` similarly.

[2019-07-03 21:42] #60 closed

[2019-07-03 22:42] #67 closed

[2019-07-03 23:25] #6 closed

[2019-07-03 23:26] zhenghuiwang commented on #7
Thanks @prodonjs and @rileyjbauer!

We have a UI with listing and detail view of artifacts for v0.6.

[2019-07-03 23:26] #7 closed

[2019-07-03 23:33] zhenghuiwang commented on #76
Right now we only integrate notebook via python library.

Next release, we will enable metadata tracking in KF Pipeline and [Fairing](https://github.com/kubeflow/fairing). Training job triggered by them should have metadata automatically collected.

[2019-07-03 23:44] zhenghuiwang commented on #79
It is intended to be free-form string type. If some organizations want to enforce a set of canonical type names,  they can always define the constant strings in a lib and ask people to use them.

On the other hand, if we enforce constant string type by default, adding new constants for unknown use cases becomes difficult.

There are many use cases that current metadata fields aren't enough to help

[2019-07-08 16:49] prodonjs commented on #81
blocked by #84

[2019-07-08 22:25] zhenghuiwang commented on #81
/reopen

PR#84 is merged and I've updated our dev KF cluster to master. You should see the artifact&execution map in the ListEvent response now.

[2019-07-11 03:01] prodonjs opened #87 "[UI] Don't allow expansion of Artifact rows when there are no other rows in group"
With #82, artifacts are grouped by their type and name. If there is only one artifact with the given pair, we should not show the expansion button. This will require some refactoring of where the state permitting expansion is stored and could also introduce refactoring to move the expansion behavior out of the ArtifactsList component.

/kind feature
/area front-end
/priority p2
/cc @rileyjbauer

[2019-07-11 06:51] jinchihe commented on #22
Yes, I suggest using the Go tool such as `dep` which is used by other project under kubelow such as KFServing. I do not why still say no dependency after `bazel` steps.

[2019-07-11 06:51] jinchihe commented on #22
/assign @jinchihe

[2019-07-11 08:36] jinchihe opened #88 "Error happens while running go build"
/kind bug

**What steps did you take and what happened:**
Hello, when I trying to setting up metadata, `make build` finished, and `make test` all passed. But hit the below problem while `go build` how to work around this? Thanks a lot!

[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environm

[2019-07-11 09:32] jinchihe commented on #88
Seems there is `metadata_store.h` but how to use that? under the derectory, no link to there ... sorry not familar with `bazel` :-(

[code]

[2019-07-11 17:35] zhenghuiwang commented on #22
The reason we have bazel is that MLMD library that we depends on is in C++ and bazel is easy to use to manage cross language build.

Right now, the codebase works well with `go mod` and other go tools. You only need to `bazel build` first, which generates  go dependency files. After that, all Go tools work.

Go module is the future direction and we should avoid `dep`.

[2019-07-11 17:57] zhenghuiwang commented on #88
Thanks for raising this issue. Which Go version do you use?

You have to enable `export GO111MODULE=on`

https://github.com/golang/go/wiki/Modules

[2019-07-11 20:31] jinchihe commented on #22
Oh... I misunderstand. Thank you got pointing out this.

[2019-07-11 21:28] jinchihe commented on #88
@zhenghuiwang Thanks for you help. I'm using ` go1.12.5`, But after enabled that, the problem still can be reproduced. I'm running on redhat 7.6 and baze 0.24.1, see below for more information.

[code]

[2019-07-11 21:40] zhenghuiwang commented on #88
/cc @neuromage

We haven't tried the build process on Redhat. It is possible that our SWIG generation may not work well on Redhat.

[2019-07-12 03:16] jinchihe commented on #88
Yes, that works fine on Mac.

[2019-07-12 07:32] jinchihe opened #91 "No kfmd/openapi_client"
/kind bug

**What steps did you take and what happened:**
During I try to install and run the sdk demo cases, I found no kfmd/openapi_client, more checked, that should be generated by `make swagger-py-client` and ignored in `gitignore`.

[code]

Since that's import by kfmd/metadata.py, personally I think we should check in the openapi_client code, at least we should add related reminding to new us

[2019-07-12 07:33] jinchihe commented on #91
@zhenghuiwang @gaoning777 What's you viewpoint? check in or update doc? personally I perfer to check in the `openapi_client` dir. Thanks.

[2019-07-12 08:11] jinchihe commented on #77
For on-prem volume case, Is that possiable to set the uri to `pvc://pvc_name/path/for/models`? First area between / can be `pvc_name` and following model path.

WDYT @zhenghuiwang ?

[2019-07-12 15:08] dreamryx opened #94 "Improve the warning log"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
When I run the server, I got following warning that may bring confusion to user :

E0711 01:19:33.022712    9859 register.go:68] Ignored unknown type "workspace" in "http://github.com/kubeflow/metadata/schema/alpha/containers/workspace.json"
W0711 01:19:33.022849    9859 register.go:49]

[2019-07-12 19:35] #71 closed

[2019-07-12 22:57] zhenghuiwang commented on #91
Thanks for raising this issues. I recommend use `pip install kfmd` to get the python library.

I need to update the documents and demo notebook to use pip install. /assign @zhenghuiwang

I replied why it is not checked in https://github.com/kubeflow/metadata/pull/93#issuecomment-510961548

[2019-07-12 22:58] zhenghuiwang commented on #91
/assign @zhenghuiwang

[2019-07-12 23:02] zhenghuiwang commented on #77
Yes, you can set the uri with prefix `pvc://`

There is no schema for the uri. It is up to the users & integrated systems to interpret it. Some examples
https://github.com/kubeflow/metadata/blob/master/schema/alpha/docs/artifacts/model.md#uri-examples

[2019-07-13 00:42] jinchihe commented on #91
Thanks @zhenghuiwang, Yes, that's good for code maintenance. but now I'm thinking if also has problem for `pip install` without openapi_client since kfmd depends on that, you will generate that during installation?

[2019-07-13 17:51] cvenets commented on #77
As @zhenghuiwang mentioned the metadata service doesn't interpret the URIs, it just stores them. The URI can be completely arbitrary, so yes, you can prefix it with `pvc://`. The other systems that interact with the metadata service need to know how to interpret it and consume it.

We have started a discussion with @zhenghuiwang in the design doc, for extending the metadata service's context execu

[2019-07-16 10:40] jlewi opened #97 "Create a generic logger for data to metadata using the persistence agent"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

We'd like to automatically log K8s objects to the metadata store; e.g.

* K8s Job
* TFJob
* StudyJob
* Argo workflows

We'd like some sort of logger to do this.

Pipelines already has the persistence agent so maybe we can extend that?
https://github.com/kubeflow/pipelines/tree/master/

[2019-07-16 17:35] #94 closed

[2019-07-16 21:57] Jeffwan commented on #76
@zhenghuiwang This would be great. The next release you mean is 0.7? BTW, any examples for current release (0.6) we can try?

[2019-07-18 00:38] jinchihe commented on #22
/unassign

[2019-07-18 01:42] hougangliu commented on #97
StudyJob is Katib v1alpha1 object, for katib v1alpha2 or following versions, Experiments/Trials CRD will replace StudyJob totally.
@richardsliu @johnugeorge @gaocegege I think supporting Experiments/Trials in metadata is enough, WDYT?

@jlewi @zhenghuiwang BTW, @dreamryx in my team can help contribute metadata in coming days.

[2019-07-22 19:13] zhenghuiwang opened #101 "Kubeflow metadata UI not shown up in the central dashboard"
/kind bug

**What did you expect to happen:**
Kubeflow metadata UI show appear in the central dashboard as `artifact store`

[2019-07-22 19:13] zhenghuiwang commented on #101
/priority p0

[2019-07-22 19:15] zhenghuiwang commented on #101
/assign @zhenghuiwang

It is a [istio routing config](https://github.com/kubeflow/kubeflow/tree/master/bootstrap/config) issue. Needs to update several configurations for various installation methods.

[2019-07-22 19:26] zhenghuiwang opened #102 "Metadata multi-user support CUJ & design"
/kind feature

**Describe the solution you'd like**
- What the multi-user ACL support looks like.
- How can the CUJs be implemented.

[2019-07-22 19:29] zhenghuiwang opened #103 "Create Kubeflow example on using metadata"
/kind feature

**Describe the solution you'd like**
Use metadata logging in one example in kubeflow/example (possibly the new xgboost-synthetic)  to demonstrate how to use metadata logging.

[2019-07-23 22:16] zhenghuiwang commented on #101
The above changes are merged to master and v0.6.0-branch.

Deployed Kubeflow via master and v0.6.0-branch HEAD. Both works: the UI can show the artifacts logged by a demo notebook.

/cc @abhi-g @jlewi

/close

[2019-07-23 22:16] #101 closed

[2019-07-23 23:27] zhenghuiwang opened #105 "[UI] Add `Values` field for Metrics type"
/kind bug

**What did you expect to happen:**
The Metrics type should have a `values` field to show the actual stats, such as
[code]

The data is stored but the UI doesn't render it.

[2019-07-23 23:28] zhenghuiwang commented on #105
/cc @prodonjs @rileyjbauer

[2019-07-23 23:34] zhenghuiwang commented on #105
![metrics_details](https://user-images.githubusercontent.com/8263977/61754357-b451b080-ad67-11e9-88e2-d870311688e3.png)

[2019-08-04 22:49] jlewi opened #106 "Rename python package from kfmd to kubeflow.metadata"
/kind feature

**Describe the solution you'd like**

Currently the SDK is imported as

[code]

Should we change this to be

[code]

So that we have a single top level Kubeflow package with multiple sub packages?

/cc @jian-he @animeshsingh

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-08-05 18:11] zhenghuiwang commented on #106
Yes, I support have a single package `kubeflow` so that users need only pip install one package instead of many packages.

Where should the `kubeflow` package source code be put? I guess a subpackage can still be developed in its own repo and be exported via`kubeflow.<subpackage>`.

[2019-08-05 18:14] zhenghuiwang commented on #91
Thanks for filing this issue. The pip install problem is fixed for `kfmd` with version >= 0.1.7.

/close

[2019-08-05 18:14] #91 closed

[2019-08-06 03:45] #103 closed

[2019-08-07 04:51] Jeffwan opened #107 "Does metadata.Model persist trained model to object storage?"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

I am checking examples. Based on the API, looks like I need to save model to somewhere else and then log model uri there. Do we have plan to export model directly to storage?

[code]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the i

[2019-08-07 05:00] Jeffwan opened #108 "Allow to pass workspace/run name or id in initialization"
/kind feature

I am trying to understand the best practice here.

1. If I have training job runs once every day, should I create one `Run` for it and create a Execution every day?

If that's true, I think I only need to create one `Workspace` and one `Run`. Consider the SDK init, seems I have to get object and pass as parameter. Could we pass id or name as parameter and it would be easier to use.

[2019-08-19 17:44] amygdala opened #114 "reproducible initial metadata server connection error"
/kind bug

KF 0.6.1, GKE, using IAP

Running the [example notebook](https://github.com/kubeflow/metadata/blob/master/sdk/python/demo.ipynb) , I've seen the following error each time.

Re-running the cell fixes things, so maybe a retry is needed.

With this code:
[code]

I initially get this error (again, a rerun of the cell lets it go through):
[code]
Here's the full trace: https://gist.github.com

[2019-08-19 19:47] zhenghuiwang commented on #114
I think https://github.com/kubeflow/examples/pull/621 should fix it.

It is likely to be the istio side car hasn't started

https://github.com/kubeflow/examples/pull/621/files#diff-19caa32109d22abdba8778f600e00f72R342

[2019-08-19 19:50] zhenghuiwang opened #116 "Integrate metadata logging with Fairing LightGBM"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

Fairing lightGBM has comprehensive metadata about a training job. It is nice to have integration with lightGBM as the first step of integration with Fairing.

[2019-08-19 22:16] dushyanthsc opened #117 "Use environment variable to retrieve DB Host and port information"
Currently metadata server expects the mysql host and port information to be passed via command line arguments using flags - "mysql_service_host" and and "mysql_service_port" which is different from kubeflow/pipeline. This issue is created to track the work to use the standard approach of retrieving information from environment variables rather than command line flags.

The issue should also move o

[2019-08-19 22:16] dushyanthsc commented on #117
/assign @dushyanthsc

[2019-08-21 19:08] rileyjbauer commented on #87
This was fixed by #111

[2019-08-26 06:25] dreamryx opened #119 "circular reference in pre-defined schema cause server crash"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
When metadata server starts, it first to load pre-defined schemas of artifact and execution stored in json file. However, if those schemas contain circular reference, the metadata server crash with following error:

runtime: goroutine stack exceeds 1000000000-byte limit
fatal error: **st

[2019-08-27 03:43] TomomasaTakatori opened #120 "How to make original ArtifactType"
In python SDK, kinds of ArtifactType are only Dataset, Model, and Metrics.
If another ArtifactTypes is needed, we can't make them (We could can do by using module generated by open_api, but there is no document ).
And kfmd's concepts is slightly differed from original MLMD library. For example, ExecutionType is not able to be define.

Summarization
- Easily making original ArtifactType (If current

[2019-08-28 07:17] dreamryx commented on #120
/assign @dreamryx

[2019-08-28 07:28] dreamryx commented on #120
Assume **ws1** is your workspace create by "metadata.Workspace". You can create an ArtifactType named **tomoma_type** with tree fileds as below:

[code]

I agree that the SDK should be more convenient to use.  I want to update the sdk later.

[2019-08-29 02:19] TomomasaTakatori commented on #120
Thank you for your replying.

I understand If we would like to create ArtifactType, we should write original code.

And the type of ExecutionType is just "kubeflow.org/alpha/execution".
Is it the same as ArtifactType to create ExecutionType, that mean we need to write original code ?

[2019-08-29 05:06] TomomasaTakatori opened #121 "What's 'Run' meaning in kfmd ?"
In kfmd python SDK, Run class is implemented, but I can't understand what it is because MLMD library can't have this concept.

My Thought:
Run class object seems to be describe how execution works.
Yet, ExecutionType just implemented Execution class whose ExecutionType is "kubeflow.org/alpha/execution". So Run object in the Execution class could be used to distinguish one Execution from others.
Bu

[2019-08-29 09:10] dreamryx commented on #120
Yes. If you want to create new executionType, you need to write the similar code showed above. The sdk python lib is only for the pre-defined type and objects. :)

[2019-08-29 15:31] dreamryx commented on #121
The info of run and workspace is just custom property of the execution. The execution is distinguished by its name and id. If you want make original execution type, you need to submit a createExecutionType request to the server. The thing in sdk is for pre-defined artifact and execution which could used in pipeline.

[2019-08-30 03:52] TomomasaTakatori commented on #120
Thank you so much.

[2019-08-30 03:52] #120 closed

[2019-09-02 07:56] TomomasaTakatori commented on #121
I've understood, thank you.

[2019-09-02 07:56] #121 closed

[2019-09-03 05:31] jinchihe commented on #106
/assign

I'm working for kubeflow.fairing now.

[2019-09-03 16:22] rummens opened #123 "metadata-deployment pods cannot connect to MySQL DB"
/kind bug

**What steps did you take and what happened:**
Deployed Kubeflow 0.6 and the followings pods crash loop:
metadata-deployment-6cf77db994-dtbhd,
metadata-deployment-6cf77db994-kzv52,
metadata-deployment-6cf77db994-mr2gh

**The error message is the following:**

[code]

**What did you expect to happen:**
Deploy without crashing.

**Anything else you would like to add:**
We had the idea tha

[2019-09-03 17:38] amygdala commented on #114
I also saw this error when the cluster had been sitting idle for a few days.
This seems like a very common error. Would it make sense to have the client itself catch the error and retry, rather than requiring error mgmt in the user code?

[code]

[2019-09-05 07:01] rummens commented on #123
Turns out we had an mistake in our automation script. The metadb was looking for mysql in the wrong namespace.

[2019-09-05 07:01] #123 closed

[2019-09-08 00:25] sahilprasad commented on #123
@rummens I'm also seeing this. Any tips on figuring out where the problem is?

[2019-09-08 23:56] jlewi commented on #97
I believe @zhenghuiwang has a prototype of a generic logger and is working on getting it turned into a PR.

[2019-09-09 06:12] rummens commented on #123
Sure, for us it was a minor and stupid mistake. We forgot to change the namespace of the metdata db component. So when we ran our tests we changed the namespace to something else then the default and this caused the issue. If you closely look at the error it even says so:

`Failed to create ML Metadata Store with config mysql:<host:"metadata-db.kubeflow"`

Our correct configuration would be someth

[2019-09-09 16:48] sahilprasad commented on #123
All good @rummens ! Thanks for your help.

Yeah, turns out it was something dumb on our end too. We were using `kustomize` to add the `app: our-app` label to all of the specs. Removed that and now everything works as expected.

[2019-09-09 16:57] rummens commented on #123
Glad to help ;-)

[2019-09-13 13:39] jlewi opened #125 "Initial Connection to the UI; Error know artifacts could be loaded"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
When I first connect to the metadata store UI I typically see an error along the lines of "No artifacts could be loaded". (I will try to capture the exact text the next time I see the error and look for JS errors).

The error appears to go away after clicking refresh.

Using v0.6.2.

Mig

[2019-09-13 23:55] zhenghuiwang commented on #97
@jlewi @hougangliu @dreamryx

I'm adding a POC in #126, which only log the k8s objects' name/uid/whole value into the metadata store.

I will keep working on it but feel free to give early feedback.

[2019-09-16 18:57] zhenghuiwang opened #127 "Metadata backend service for Kubeflow v0.7"
/kind feature

Release MLMD gRPC service for Kubeflow v0.7 in addition to current HTTP backend. Current UI and SDK are still depending on the HTTP backend.

- Containerize new server.
- Update Kubeflow/manifests

The upgrade from 0.6 to 0.7 for metadata will simply be applying the new manifests.

[2019-09-16 21:56] zhenghuiwang opened #128 "Concurrent requests cause the backend server to crash."
/kind bug

**What steps did you take and what happened:**
I wrote a program to concurrently send 100+ request to log artifacts. Concurrent requests cause the server to crash.

Seems the MLMD library crashes the server if there are two concurrent transactions competing.

**What did you expect to happen:**
The backend sever should be able to handle concurrent requests.

**Anything else you would lik

[2019-09-19 18:47] zhenghuiwang commented on #127
@dushyanthsc can you take this task? thanks!

[2019-09-22 11:09] whycircle commented on #123
@sahilprasad Could you tell me the exact steps to fix this problem?

[2019-09-25 20:05] zhenghuiwang commented on #127
https://github.com/kubeflow/manifests/pull/370

[2019-09-25 21:36] #106 closed

[2019-09-25 23:03] #127 closed

[2019-10-07 17:50] gabrielwen opened #133 "[Question] How to use URI in Metrics?"
It's not clear how to use URI in Metrics but it seems to be an important field (required, actually).  If we use `values` to pass metrics like score or median error, do we still need an URI pointing to some data?

[2019-10-07 17:51] gabrielwen opened #134 "Add documentations for Python SDK"
SDK is easy to use but would be great if we have documentation as reference.

[2019-10-07 17:53] gabrielwen opened #135 "[Question] How to connect to MLMD outside of the cluster?"
It's not always true that services need MLMD live in the same cluster.  How to connect to MLMD from outside the cluster?  Do we have a routing rule for the API services?

[2019-10-07 17:56] gabrielwen opened #136 "[Question] How to store arbitrary values in MLMD?"
Users need to pass configurations between training and serving, e.g. feature set used for training should also be used for serving.  How do we do it?  Should we use `values` or is there a place for us to store free form JSON?

[2019-10-07 22:32] zhenghuiwang commented on #133
URI is required for all types of artifacts and [metrics](https://github.com/kubeflow/metadata/blob/master/schema/alpha/docs/artifacts/metrics.md) is one of them.

URI points to the storage location of the a metrics while `values` can provide a summary or complete metrics values. For example, you can have a metrics with URI pointing to a CSV file with `values` being the overall score.

If the whole

[2019-10-07 22:40] zhenghuiwang commented on #134
Thanks for raising the issue! All SDK related docs are listed in [this section](https://www.kubeflow.org/docs/components/misc/metadata/#using-the-metadata-sdk-to-record-metadata) on Kubeflow Website. Which part do you think should be expanded?

I expect the SDK usage to be straightforward to readers who go through [this demo notebook](https://github.com/kubeflow/metadata/blob/master/sdk/python/sam

[2019-10-07 22:49] zhenghuiwang commented on #136
The type system of underlying MLMD server is extensible. You can
1. register the custom type for the configurations via
[POST /api/v1alpha1/artifact_types](https://www.kubeflow.org/docs/reference/metadata/v1alpha1/kubeflow-metadata-api-spec/#operation--api-v1alpha1-artifact_types-post)
2. Read and write the config as an artifact:
Read [GET /api/v1alpha1/artifact_types/{name}/artifacts/{id}](https:

[2019-10-10 22:43] #97 closed

[2019-10-15 11:23] yanniszark opened #138 "Multiple CrashLoopBackoffs related to db migration"
/kind bug

**What steps did you take and what happened:**
Deploy Kubeflow using the metadata package from manifests.
The image tag is: `v0.1.9`.

20 minutes after deploying, all servers  were in CrashLoopBackoff.
The logs seemed related to a migration:

[code]

Issue remains even after deleting and recreating all the Pods.

**What did you expect to happen:**
I expected Pods to become Ready without

[2019-10-15 16:06] zhenghuiwang commented on #138
/cc @dushyanthsc @neuromage

I think it is related to the MLMD upgrade in https://github.com/kubeflow/metadata/pull/130

@yanniszark  does the database `metadb` exist before this installation or not?

[2019-10-15 16:15] yanniszark commented on #138
@zhenghuiwang it was a brand new GKE cluster.
Nothing should have been there.

/priority p0
/cc @jlewi

[2019-10-15 16:23] neuromage commented on #138
@yanniszark This is due to db upgrade as pointed out by @zhenghuiwang. Is it reproducible if you drop the databases manually?

@zhenghuiwang Since #130 went in, did we update the API server backend?

[2019-10-15 16:24] neuromage commented on #138
I mean did we upgrade the image? Is 0.1.9 using the older version? That's what it sounds like to me looking at the error.

[2019-10-15 22:36] zhenghuiwang commented on #138
I deployed the v0.7-rc following [the demo script](https://docs.google.com/document/d/1OhjKwas74OOFwiADQfNzakgopoAxgNzD3bERdO1cGt8/edit#heading=h.ycyohiypkfa6). (The demo script deploys Kubeflow using the Kubeflow/Manifest master HEAD, which includes [the PR of reducing #replicas of metadata service to 2](https://github.com/kubeflow/manifests/pull/531))

**What I found**
- The service `metadata-se

[2019-10-25 18:39] kwasi opened #140 "[Frontend] Add a README.md"
/kind feature
/area front-end

* How to run local server with proxy to a cluster
* How to run test
* When to run `npm run apis` and their sub-tasks
* Code style

[2019-10-25 18:40] kwasi opened #141 "[Frontend] Standardize code style using prettier"
A kubeflow/metadata version of kubeflow/pipelines issue [#2406](https://github.com/kubeflow/pipelines/issues/2406).

As mentioned in that issue, Prettier will save formatting cycles in code review. It can also be setup with a file watcher to auto-format changed lines or files on save.

**Sub-tasks**

- [ ] Create a Prettier config
- [ ] Allow a week for comments on the config
- [ ] Format the whol

[2019-10-29 09:54] Bobgy commented on #141
Thanks for putting these together!

For sync with kubeflow/pipelines. I recommend we use the same config as https://github.com/kubeflow/pipelines/blob/master/frontend/.prettierrc.yaml
[code]

Let me know if there's anything you want to change. We can discuss and adjust the config back to kubeflow/pipelines too.

[2019-10-29 10:11] riteshkarval opened #145 "How can I delete an artifact? The metadata REST-API is returning "not implemented error: DeleteArtifact"."
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

[2019-10-29 20:00] vmolina opened #146 "Problem using swagger generated api with Kubeflow behind IAP in GCP"
/kind bug

**What steps did you take and what happened:**
The swagger generated api does not use any authentication therefore it cannot be access from outside the kubeflow cluster when it is behind the IAP service In Google Cloud.

**What did you expect to happen:**
I set up the client authentication in a similar maner to that of kubeflow pipelines.

`
    config = openapi_client.Configuration()

[2019-10-29 21:17] kwasi opened #147 "[MLMD Lineage] Implement breadcrumb bar for visualizing Lineage Explorer navigation history"
**Describe the solution you'd like**

Adds an affordance below the tab bar to displays the user's navigation history in the lineage explorer.

**Anything else you would like to add:**

Mocks: https://gallery.googleplex.com/projects/MCHbtQVoQ2HCZV4FTvhm3v2g/files/MCEJu8Y2hyDScbPGl48LgCFyDIbBRSphdIw

/kind feature
/area front-end
/area metadata
/assign @kwasi
/cc @avdaredevil

[2019-10-29 21:30] kwasi opened #148 "[MLMD Lineage] Add gRPC Web Client for fetching data from MLMD from gRPC Backend"
**Describe the solution you'd like**

Use generated classes for service and API requests in Artifact List and Artifact Details tabs.

**Anything else you would like to add:**

See https://github.com/kubeflow/pipelines/pull/2057 for similar implementation.

/kind feature
/area front-end
/area metadata
/assign @kwasi
/cc @avdaredevil

[2019-10-29 21:33] kwasi opened #149 "[MLMD Lineage] Implement routing / deep linking to Artifact Details Tabs"
/kind feature
/area front-end
/area metadata
/assign @kwasi
/cc @avdaredevil

[2019-10-29 21:36] kwasi opened #150 "[MLMD Lineage] Implement click and update action on Lineage Explorer Ui"
**Describe the solution you'd like**

* Show history based on the user's current lineage explorer
* Clear history when the reset button is clicked
* Update history shown in breadcrumbs onClick
* Update lineage explorer canvas on click

**Anything else you would like to add:**

Mocks: https://gallery.googleplex.com/projects/MCHbtQVoQ2HCZV4FTvhm3v2g/files/MCEJu8Y2hyDScbPGl48LgCFyDIbBRSphdIw

/kind f

[2019-10-29 21:40] kwasi opened #151 "[MLMD Lineage] Implement Lineage Explorer demo UI"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

* UI feature parity with the demo app.
* Does not need to have live data as gRPC Web is a separate task and I'm not sure if the current HTTP APIs have enough information for lineage visualization.

**Anything else you would like to add:**

See demo app.

/kind feature
/area front-end
/area metadata

[2019-10-29 21:43] kwasi opened #152 "[MLMD Lineage] Hook up Lineage Explorer to live data"
**Describe the solution you'd like**

* Demo UI with calls to metadata service for real data.

**Anything else you would like to add:**

* If this can be done without gRPC web, we should consider if we want to wait for gRPC web to be implemented or if we want to implement with HTTP while gRPC-Web is setup.

/kind feature
/area front-end
/area metadata
/assign @avdaredevil
/cc @kwasi

[2019-10-31 12:57] prem0912 opened #153 "Unable to open Artifacts Store in Kubeflow 0.6.2 UI in AWS EKS. Error : "Sorry, /metadata/ is not a valid page""
/kind bug

AWS EKS Version : 1.13
Kubeflow Version : 0.6.2

Steps followed to install Kubeflow 0.6.2:

https://v0-6.kubeflow.org/docs/aws/deploy/install-kubeflow/

Logs :

root@ubuntu:~# kfctl init ${KFAPP} --config=${CONFIG} -V

INFO[0000] Downloading /tmp/kfctl_aws.yaml to /tmp/480043733/app.yaml  filename="v1alpha1/application_types.go:334"
WARN[0000] Overriding KfDef.Spec.Name; old value kubef

[2019-10-31 22:20] kwasi commented on #148
/assign @kwasi

[2019-11-02 22:16] kwasi opened #154 "[frontend] Switch to TSLint"
/area frontend
/kind feature

### Background: We have a `tslint.json` but lint with `eslint` due to `react-scripts` webpack

I added some generated protocol buffers in 13794fc and broke frontend `webpack` compile due to lint failures for the [no-undef](https://eslint.org/docs/rules/no-undef) rule. I was thrown off by the fact that there is a `tslint.json` configuration file but the failures were a

[2019-11-02 22:17] kwasi commented on #154
/area front-end

[2019-11-02 22:30] kwasi commented on #141
Sounds good! We definitely want to keep all the frontend projects in sync so we'll start with your `.prettierrc.yaml`.

[2019-11-04 23:13] zhenghuiwang opened #155 "Update the python SDK to talk to MLMD gRPC service"
/kind feature

**Describe the solution you'd like**
Current Python SDK talks to the backend HTTP metadata service, which is built on top of MLMD library. For MLMD >= 0.15.0, it comes with a gRPC service and a Python connection option to talk to the gRPC service.

Kubeflow >= 0.7 deploys MLMD gRPC service. If the python SDK can talk to the MLMD gRPC service, then we don't need to keep the HTTP serv

[2019-11-05 00:27] amygdala commented on #138
Just as a data point -- in my kf07 install, they don't seem to be recovering. (thus far they've crashed 23 times)

[2019-11-05 09:11] #153 closed

[2019-11-05 17:17] jeffgriffith commented on #138
@zhenghuiwang would this merge of a retry fix the case where this never recovers? i see a fresh rc8 cluster for me has metadata-deployment/grpc restarting 290+ times with the last error still being the same as above (Unknown column 'is_artifact_type'):
[code]

[2019-11-05 17:29] parthmishra commented on #138
Had the same issue with 0.7.0 (official release) and was only able to resolve by running `kfctl delete --delete_storage` and then redeploying. Deleting the pods didn't help.

[2019-11-05 18:11] zhenghuiwang commented on #138
@jeffgriffith @parthmishra Sorry for this problem. I'm still trying to figure out a resolution.

Here is a workaround that only reinstalls the metadata component:

1. Download the kubeflow/manifest
`git clone https://github.com/kubeflow/manifests`
`cd manifests/metadata/base`

2. Delete kubeflow metadata with [kustomize](https://github.com/kubernetes-sigs/kustomize):
`kustomize build . | kubectl d

[2019-11-06 01:00] zhenghuiwang commented on #138
This issue is due to a data race problem during table schema initialization&upgrade inside MLMD. (A more detailed report will be added)

The current best workaround is still the one described above.

[2019-11-11 15:05] karlschriek opened #161 "Istio ingress fails to reach ready stage on EKS"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
Upon installing Kubeflow 0.7.0 using the latest guide, everything is deployed successfully and `kubectl get ingress -n istio-system` even produces an address, but it is unaccessible. Scrutinising the istio-ingressgateway pod with `kubectl -n istio-system describe pod/istio-ingressgateway

[2019-11-12 12:52] karlschriek commented on #161
Sorry, posted in wrong board, has be reposted in kubeflow/kubeflow

[2019-11-12 12:52] #161 closed

[2019-11-13 12:03] karlschriek opened #166 "Longer term roadmap for kubeflow/metadata"
/kind feature

**Describe the solution you'd like**
In the circles that I move around in - i.e. developers and product owners who need to create productive Machine Learning solutions - one of the key issues that everyone is try to solve is Model Management (which really comes down to proper logging of Metadata, tracking of Lineage etc.). There are a few solutions out there that are gaining in popu

[2019-11-14 02:31] #148 closed

[2019-11-14 15:05] karlschriek commented on #133
As far as I can see, the `values` field isn't even used. The `ml-metadata` Artifact signature `kubeflow.org/alpha/metrics` that is relevant here doesn't have a `values` property.

Also the under the Artifact of class `kubeflow.metadata.Metrics` the function `def serialization(...)` is used to prepare the class properties for upload into the metastore. `values` is currently completely ignored here.

[2019-11-14 18:56] zhenghuiwang commented on #133
`values` is not ignored: it is handled in [this statement](https://github.com/kubeflow/metadata/blob/master/sdk/python/kubeflow/metadata/metadata.py#L586) of `serialization`:
[code]

`values` is a dictionary but MLMD property type can only be string, int, and double type. The workaround here is to save all metrics properties to a special MLMD property.

[2019-11-20 08:25] karlschriek commented on #133
Ok, now I see! The entire `self.__dict__` gets converted to string. Thanks for the explanation

[2019-11-20 12:29] xaniasd opened #171 "Make metadata db optional"
/kind feature

**Describe the solution you'd like**
In the current setup, metadata deploys a database in the base layer. This database is insecurely configured (e.g. root password "test"). Production deployments will (hopefully) want to use a different setup; especially for cloud deployments, managed SQL services such as RDS in AWS are good replacement candidates.

It is possible to customize the

[2019-11-22 13:48] lomori opened #174 "metadata deployment and grpc pods cannot connect to MySQL DB"
/kind bug

**What steps did you take and what happened:**
Fresh install of version 0.7 on an EKS cluster following instructions for how to deploy on EKS.

We are seeing errors like:

E1121 18:56:38.635354       1 main.go:98] Failed to create ML Metadata Store: mysql_real_connect failed: errno: 2005, error: Unknown MySQL server host 'metadata-db.kubeflow' (-3).

It is interesting that if I go direc

[2019-11-25 15:41] #147 closed

[2019-11-26 06:00] lilida commented on #73
Any progress on this?

[2019-12-09 20:00] zhenghuiwang opened #184 "Kubeflow Metadata SDK v0.3.0"
/kind feature

**Describe the solution you'd like**
With the recent update on the metadata backend, we need to update the SDK to v0.3.0 to catch up with the backend. Features:
- [x] Use ML metadata gRPC server as the backend.
- [x] Use context for workspace.
- [x] Update tutorial notebook.
- [x] Add auto generated SDK reference docs.

[2019-12-13 11:15] discordianfish commented on #171
Fully agree, we'd strongly prefer using RDS for this as well.

@jlewi Any reason to believe a PR for this might be controversial? I assume it would mean making the deployment optional and expose config parameters to specify an external database? Or do we need a design doc here?

@xaniasd Let me know if I can help

[2019-12-13 18:02] jlewi commented on #171
@zhenghuiwang heads up the metadata efforts so he would be the person to talk to.

[2019-12-13 19:09] zhenghuiwang commented on #171
@xaniasd @discordianfish Sounds good. Free feel to make a PR in Manifests. Thanks!

[2019-12-13 19:18] xaniasd commented on #171
@discordianfish thanks for bumping this (I had almost forgotten about it). In my view it's a straightforward change so I can take a first stab at it. I'll link it here so that you can review it as well.

@zhenghuiwang will do asap

[2019-12-13 20:49] #151 closed

[2019-12-13 22:38] #152 closed

[2019-12-13 23:21] #184 closed

[2019-12-13 23:24] zhenghuiwang commented on #155
Fixed in https://github.com/kubeflow/metadata/pull/156

[2019-12-13 23:24] #155 closed

[2019-12-16 20:34] kwasi opened #192 "Move LineageView components to a standalone repo"
/kind feature
/area metadata
/area front-end

**Describe the solution you'd like**

`LineageView.tsx` and all dependencies should be extracted to a new repository and shared with Metadata and Pipelines.

[2019-12-16 20:37] kwasi commented on #150
Closing this issue as the UI action is implemented and a first batch of performance improvements is being introduced as #189. Further bugs should be filed as needed to optimize performance.

[2019-12-16 20:37] #150 closed

[2019-12-16 20:49] kwasi opened #193 "[MLMD Lineage] UI scale is too large for a laptop display"
/kind feature

**Background**

Currently the UI uses key widths from the original UX mocks. These sizes don't scale down well to a laptop monitor. This [video](https://screencast.googleplex.com/cast/NjcxNDQ3NTY2MDk2NzkzNnwzNTBhZDk0MC1kYw) shows that:

* The user has to scroll horizontally back and forth to explore forward and backward lineage
* The full 5 columns don't fit on the page.

**Describe

[2019-12-16 20:50] kwasi commented on #193
/area metadata
/area front-end

[2019-12-16 20:55] kwasi opened #194 "[MLMD Lineage] Update Artifact Details target on navigation"
/kind feature
/area metadata
/area front-end

**Describe the solution you'd like**

When a user navigates to a different target using the Lineage View, switching them to the overview tab should show the overview of the currently selected target, not the origin target.

**Anything else you would like to add:**

* The current behavior of not navigating is correct because we don't perform a history u

[2019-12-16 23:03] kwasi opened #195 "[MLMD Lineage] Always show scroll bars or an indication of scrolling"
/kind feature
/area metadata
/area front-end

* Can be achieved with a transparent mask

[2019-12-16 23:03] kwasi commented on #195
/assign @avdaredevil

[2019-12-17 00:13] #171 closed

[2019-12-17 03:09] kwasi opened #196 "[MLMD Lineage] Group Execution cards by type"
/kind feature
/area metadata
/area front-end

**Describe the solution you'd like**

* Execution cards should be grouped by type in the same way as Artifact cards
* Card title should be updated to use the execution type name

[2019-12-19 16:54] andrewm4894 opened #198 "mysql_query failed: errno: 2006, error: MySQL server has gone away"
/kind bug

**What steps did you take and what happened:**
I created a kubeflow via https://deploy.kubeflow.cloud/. I was trying to run through this [demo](https://github.com/kubeflow/metadata/blob/master/sdk/python/sample/demo.ipynb) but ran into what looks like a mysql error when i tried to create a workspace (cell 4 of the demo notebook).

[code]

**What did you expect to happen:**

A workspace

[2019-12-20 20:58] avdaredevil commented on #195
- The option we discussed in the meeting if we didn't want to mess with the scrollbars was to show a `#fff` to `transparent` fade in the part of the screen that had a scrollbar. Obviously it becomes slightly less of a problem once #193 is tackled.
- Another option is to use CSS ([example here](https://stackoverflow.com/questions/7492062/css-overflow-scroll-always-show-vertical-scroll-bar)) that wo

[2019-12-22 04:36] rafaelbarreto87 commented on #198
I'm having the exact same issue. Reproduced by executing the metadata demo.

[2019-12-30 19:58] andrewm4894 commented on #198
@rafaelbarreto87 if you get a moment can you share the kubectl commands you used to do this? New to kubernetes so not exactly sure yet how to do stuff like this.

[2019-12-30 20:01] andrewm4894 commented on #198
Ps here is a response I got on the kubeflow slack, seems like it's actually an expected error. Not exactly sure on the details yet, need to read up a bit on the links below.

[2020-01-06 20:45] jtfogarty commented on #134
/area docs
/priority p2
/kind feature

[2020-01-06 21:43] zhenghuiwang commented on #134
The Metadata SDK ref docs are now available:
https://kubeflow-metadata.readthedocs.io/en/latest/

This issue duplicates
https://github.com/kubeflow/website/issues/1206

[2020-01-06 21:43] #134 closed

[2020-01-06 21:52] zhenghuiwang commented on #198
The cause is that the connection between`metadata-grpc-deployment` and underlying mysql is reset after certain amount of time.

The temporary fix is as @rafaelbarreto87 suggested to restart grpc-deployment to reconnect.

The long term fix is to add probe endpoint to test the liveness of grpc-deployment so that it is restarted automatically.

[2020-01-06 22:00] jtfogarty commented on #140
/priority p2

[2020-01-07 03:24] parthmishra opened #201 "Support for Cloud SQL"
Is it possible to use Google Cloud SQL as the backing store for the metadata service? If so, how can this be done?

[2020-01-08 15:55] jtfogarty commented on #154
/priority p2

[2020-01-08 15:56] jtfogarty commented on #149
/priority p2

[2020-01-08 15:59] jtfogarty commented on #141
/area front-end
/kind feature
/priority p2

[2020-01-08 16:02] jtfogarty commented on #136
/kind feature
/priority p2

[2020-01-09 13:45] andrewm4894 opened #202 "Error: json: unknown field "env""
/kind bug

I'm trying to install metadata onto my gcp kubeflow following the docs [here](https://www.kubeflow.org/docs/components/misc/metadata/).

However when i run
[code]

I get this error:
[code]
I found [this issue](https://github.com/kubernetes-sigs/kustomize/issues/1069) which seems to suggest whats going on. But i have no idea how to implement a work around to get metadata install on my cl

[2020-01-10 10:56] b675987273 opened #203 "Can not pip the metadata sdk"
/kind bug

**What steps did you take and what happened:**
[code]

**What did you expect to happen:**

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Metadata version:
- Kubeflow version:
- Minikube version:
- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2020-01-10 10:58] b675987273 commented on #203
But that command works at the jupyter. Interesting!!

[2020-01-10 18:12] pdmack opened #204 "Error: secret "metadata-db-secrets" not found"
/kind bug

kfctl 1.0 rc0

These all fail to start due to the secret not being created.

[code]

[2020-01-10 19:51] zhenghuiwang commented on #202
I think you're right: It is `kustomize` issue as I tried to run it locally and it works.

My version:
[code]

What version do you use?

Also, you can try the new overlay to install it:

[code]

[2020-01-14 09:55] biggedi commented on #204
Adding the secret generator to ./kustomize/metadata/kustomization.yaml works around this bug:

`
secretGenerator:
- name: metadata-db-secrets
  env: overlays/db/secrets.env
`

[2020-01-14 19:22] parthmishra commented on #202
Changing instances of `env` to `envs` and putting the values in a list resolved this issue for me.

[2020-01-14 21:22] andrewm4894 commented on #202
@parthmishra would you be able to give me some info/tips/pointers on how to do this? Apologies but i'm a total newbie here so not sure how/where to change these references.

[2020-01-14 21:24] jtfogarty commented on #174
/area engprod
/priority p2

[2020-01-14 21:28] jtfogarty commented on #146
/area engprod
/priority p2

[2020-01-14 21:29] parthmishra commented on #202
Sure,  in `overlays/db/kustomization.yaml` file, I commented out the `env` and replaced with `envs` as shown below:

[code]

[2020-01-14 21:29] jtfogarty commented on #166
/area engprod
/priority p2

[2020-01-14 21:31] jtfogarty commented on #145
/area usage
/priority p2

[2020-01-14 21:33] jtfogarty commented on #138
/area engprog

[2020-01-14 21:38] jtfogarty commented on #136
/area engprod

[2020-01-14 21:39] jtfogarty commented on #135
/kind question
/area engprod
/priority p2

[2020-01-14 21:40] andrewm4894 commented on #202
Thanks!

Unfortunately i'm now getting this error:

[code]
My `overlays/db/kustomization.yaml` looks like this:
[code]

If i run `kustomize version` i see:
[code]
I think that might be because i installed it via [these instructions](https://github.com/kubernetes-sigs/kustomize/blob/master/docs/INSTALL.md#build-the-kustomize-cli-from-local-source) but i believe that should be the latest.

[2020-01-14 21:40] jtfogarty commented on #133
/kind question
/area engprod
/priority p2

[2020-01-14 21:42] andrewm4894 commented on #202
Seems like [this issue](https://github.com/kubernetes-sigs/kustomize/issues/1373) is related to my new error. Googling furiously.

[2020-01-14 21:42] jtfogarty commented on #128
/area engprod
/priority p1

[2020-01-14 21:43] jtfogarty commented on #119
/area engprod
/priority p1

[2020-01-14 21:43] parthmishra commented on #202
You need to change
[code]
to
[code]
And repeat for `envs: params.env`

The top portion is interpreted as a string and thus causing the error when it's supposed to be a list.

[2020-01-14 21:45] jtfogarty commented on #117
/kind feature
/area engprod
/priority p2

[2020-01-14 21:46] jtfogarty commented on #116
/kind feature
/area engprod

[2020-01-14 21:47] jtfogarty commented on #114
/area engprod
/priority p1

[2020-01-14 21:50] andrewm4894 commented on #202
Now i'm getting:
[code]

`overlays/db/kustomization.yaml`:
[code]

Apologies for the back and forth, hopefully might be useful for others who might run into this.

[2020-01-14 21:52] parthmishra commented on #202
Ah that's my bad, I forgot to say that you need to do this in the base file as well (`base/kustomization.yaml`). Edit any instances of `env` to `envs` like you did with the overlays.

[2020-01-14 21:59] jtfogarty commented on #108
/kind question
/area engprod
/priority p2

[2020-01-14 22:00] andrewm4894 commented on #202
Thanks! I got a load of output so looks like it did something :)

Will try work through one of the metadata pipelines to confirm.

[2020-01-14 22:01] jtfogarty commented on #107
/kind question
/area engprod
/priority p2

[2020-01-14 22:01] andrewm4894 commented on #202
Although last line of output said:

[code]

But not sure if that's a non issue or not.

[2020-01-14 22:02] jtfogarty commented on #105
/area engprod
/priority p2

[2020-01-14 22:05] jtfogarty commented on #102
/area multiuser
/kind feature
/priority p2

[2020-01-14 22:06] jtfogarty commented on #102
/area engprod

[2020-01-14 22:09] jtfogarty commented on #88
/area engprod
/priority p2

[2020-01-14 22:12] jtfogarty commented on #81
/area feature
/priority p2

[2020-01-14 22:16] jtfogarty commented on #79
/kind question
/area engprod
/priority p2

[2020-01-14 22:17] jtfogarty commented on #78
/kind feature
/area engprod
/priority p2

[2020-01-14 22:19] jtfogarty commented on #77
/kind question
/area engprod
/priority p2

[2020-01-14 22:20] jtfogarty commented on #76
/kind question
/area engprod
/priority p2

[2020-01-14 22:21] jtfogarty commented on #73
/kind feature
/priority p2

[2020-01-14 22:22] jtfogarty commented on #22
/kind question
/area engprod
/priority p2

[2020-01-14 23:27] #22 closed

[2020-01-14 23:30] zhenghuiwang commented on #203
The metadata SDK works only for python 3.5+

Your command line is running `pip install` under python 2.7. That's why it can't find any suitable version.

The notebook server uses python3 by default.

You should be able to run `python3 -m pip install` in your terminal.

[2020-01-14 23:30] #203 closed

[2020-01-15 09:53] andrewm4894 commented on #198
@zhenghuiwang would you be able to point me towards and instructions on how to restart the grpc-deployment?

Apologies as i am new to kubernetes.

[2020-01-15 16:37] haghabozorgi commented on #198
@andrewm4894  if you are on kubectl 1.15+ i believe you can use restart command
`kubectl rollout restart deployment metadata-grpc-deployment -n kubeflow`

 we are on 1.14 and have just deleted the pod and the deploy recreates the pod which also seems to fix the issue
`kubectl delete po  -l=component=grpc-server -n kubeflow`

[2020-01-16 20:11] jtfogarty commented on #146
/platform gcp

[2020-01-17 00:01] #196 closed

[2020-01-17 02:18] #193 closed

[2020-01-17 02:18] #195 closed

[2020-01-21 08:07] biggedi commented on #204
This might be caused by kubeflow/kfctl#156

[2020-01-21 14:21] jlewi commented on #138
@jtfogarty this looks like an issue with metadata
engprod = Engineering Productivity and usually refers to CI/CD for Kubeflow

/area metadata

@zhenghuiwang it looks like a number of PRs were merged. Is this still an issue?

[2020-01-21 18:43] zhenghuiwang commented on #138
The issue was fixed in MLMD 0.15.1 image.

[2020-01-21 18:43] #138 closed

[2020-01-23 02:19] avdaredevil opened #206 "[BugBash] Main Tracker"
## About
This is the parent tracker for all bug bash related changes needed to be done

### Meta
/area metadata
/area front-end
/priority p0
/assign @avdaredevil
/assign @kwasi

[2020-01-23 02:22] avdaredevil opened #207 "[BugBash] ExectionType name formatting"
#### child-of #206

## About
This issue is regarding the `ExecutionName` (type header) formatting exceeding the width of the card and overflowing

## Solution
- Clip overflowing text
- White-space should not wrap
- On hover show full name

### Meta
/area metadata
/area front-end
/priority p0
/assign @avdaredevil
/cc @kwasi

[2020-01-23 20:12] avdaredevil commented on #207
Migrated to: https://github.com/kubeflow/frontend/issues/9

[2020-01-23 20:12] #207 closed

[2020-01-23 20:12] avdaredevil commented on #206
Migrated to: https://github.com/kubeflow/frontend/issues/9

[2020-01-23 20:12] #206 closed

[2020-01-23 20:56] avdaredevil commented on #207
Migrated to: https://github.com/kubeflow/frontend/issues/10

[2020-01-24 19:02] Altair3 commented on #204
running into this as well. Where exactly in ~/kustomization.yaml do I add those lines?

[2020-01-24 20:35] kwasi commented on #194
Closing this after UX feedback. The goal is for your exploration of lineage to stay rooted in the initial target when the user targets another Artifact.

To change the ArtifactDetails target, the user should click the title link. Making the title link navigate to a new target and the overview page will be handled by https://github.com/kubeflow/frontend/issues/15.

[2020-01-24 20:35] #194 closed

[2020-01-24 22:32] #192 closed

[2020-01-27 07:27] biggedi commented on #204
You can add it anywhere in the file ./kustomize/metadata/kustomization.yaml.

Note that the kustomize folder needs to be generated first, as described in https://www.kubeflow.org/docs/started/k8s/kfctl-existing-arrikto/#alternatively-set-up-your-configuration-for-later-deployment

[2020-01-30 02:22] parthmishra commented on #201
I think I figured out how to do this with Kustomize. I added the following to my `kustomization.yaml`:

[code]

The `metadata-deployment` was getting the username and password from the `mysql-credential` secret while the pipelines weren't?

Anyways, it works now as far as I can tell. I guess this issue can be closed but I feel like this should be addressed in the GCP patch file.

[2020-01-31 08:32] WillBeebe commented on #174
I'm working through this myself at the moment! I'll let you know if I figure anything out.

[2020-02-01 02:53] marcindulak commented on #204
Didn't work for me (followed by `kustomize build kustomize/metadata | kubectl apply -f -`).

Adding the following in `kustomize/metadata/kustomization.yaml` resulted in creation the `metadata-db-secrets` secret.

[code]

Note that recent kustomize (I'm using `Version: {KustomizeVersion:3.0.0 GitCommit:e0bac6ad192f33d993f11206e24f6cda1d04c4ec BuildDate:2019-07-03T18:21:24Z GoOs:linux GoArch:amd64}`

[2020-02-04 23:46] marcindulak commented on #204
No more CreateContainerConfigError as in the original report with kustomize_3.0.0 https://github.com/kubeflow/kfctl/releases/tag/v1.0-rc.3 and https://github.com/kubeflow/manifests/blob/bf518c8392f377c47911b09a1dbeac3dbb051d9e/kfdef/kfctl_k8s_istio.v1.0.0.yaml on k8s v1.15.7.

[2020-02-14 22:33] mnoble-vody opened #212 "404 for official doc pages"
/kind bug

**What steps did you take and what happened:**
Follow the link in https://github.com/kubeflow/metadata/blob/master/README.md to the docs which points to https://www.kubeflow.org/docs/components/misc/metadata/.  Got a 404.

**What did you expect to happen:**
See some docs.

**Anything else you would like to add:**
The search results from kubeflow.org for 'metadata' (https://www.kubeflow.

[2020-02-15 14:46] xigang commented on #198
Why do I need to restart the metadata-grpc-deployment service to work? If there is no other way to set the liveness probe?

[2020-02-17 11:59] discordianfish commented on #198
Ran into this as well. It looks like it successfully connected but the readiness probe fails. Since it's not the health check nothing is retrying this operation either. The easiest fix would be using the same readiness probe for the health check but I'd like to understand why it gets into this 'gone away' state in the first place..

[2020-02-17 18:38] alexlatchford commented on #166
Hi @karlschriek when you mention "model management" are you referring to easily be able to see just which experiments have been run or are you thinking more deeply about understanding which models are deployed, similar to the [MLFlow model registry](https://www.mlflow.org/docs/latest/model-registry.html#)?

[2020-02-18 08:47] karlschriek commented on #166
Yes, in fact at the moment we roll out MLFlow within our Kubeflow Cluster, as it seems to be the most mature solution that is currently out there. However, MLFlow doesn't nearly cover what we need

When I talk about model management, I broadly mean a system that abstracts away the nitty-gritty of:
- Uniquely naming, versioning and describing **models** and saving them in a remote location
- Doing

[2020-02-18 19:38] zhenghuiwang commented on #198
Thanks @discordianfish  for adding liveness probe for HTTP server.

For gRPC deployment, the issue is fixed upstream in MLMD v0.21 [commit](https://github.com/google/ml-metadata/commit/85ad360bc6ba876425b1220b8228b456362b916c), which is included in the Kubeflow v1.0RCs.

So this is an issue for KF v0.7 but not for v1.0RCs

[2020-02-19 09:52] discordianfish commented on #198
Ah great, thanks for explaining.

[2020-02-19 19:11] rafaelbarreto87 commented on #198
Just FYI, MLMD has been updated in [master](https://github.com/kubeflow/manifests/pull/811), not in v1.0-branch. So, if you're using `kdefs` from v1.0-branch, this is still a problem for now.

[2020-02-19 19:43] zhenghuiwang commented on #198
@rafaelbarreto87 Good catch! The above cherry pick should fix it for KF v1.0

[2020-02-19 22:08] rafaelbarreto87 opened #213 "SDK Version 0.3.0 not working properly with MLMD v0.21.1 (1.0.0rc) because of `ml-metadata==0.15.0` pinned dependency"
/kind bug

**What steps did you take and what happened:**

Execute [demo notebook](https://github.com/kubeflow/metadata/blob/master/sdk/python/sample/demo.ipynb). At the end:

[code]

At this point, `get_artifacts_by_uri` should return the model artifact created by the notebook. This used to work with MLMD gRPC server v0.15.1. The `get_artifacts_by_uri` works using `ml-metadata==0.21.1` Python lib

[2020-02-20 05:40] rafaelbarreto87 commented on #213
@jlewi The reason for this to be marked as a bug is that as per README, version 0.3.0 should work with Kubeflow 1.0.0. However https://github.com/kubeflow/manifests/pull/937 breaks it.

[2020-02-24 22:54] zhenghuiwang commented on #213
/assign @zhenghuiwang

[2020-02-24 22:57] zhenghuiwang commented on #204
Duplicate of https://github.com/kubeflow/kfctl/issues/156

Fixed by in kfclt v1rc3 release.

[2020-02-24 22:57] #204 closed

[2020-02-25 19:02] zhenghuiwang commented on #174
Feel free to reopen it if it happens on Kubeflow v1.0

[2020-02-25 19:02] #174 closed

[2020-02-26 00:46] #212 closed

[2020-02-26 00:46] #213 closed

[2020-02-26 13:42] jlewi commented on #198
Reopening because of kubeflow/kubeflow#4797

[2020-02-28 18:10] stomplee commented on #204
I have this same issue with the latest AWS kfdef and kfctl v1.0-0-g94c35cf.  Had to use the fix above to resolve.

[2020-03-05 21:51] avdaredevil opened #217 "[MLMD] Sync up changes from Pipelines to Execution / Artifacts view"
## About
With MLMD changes complete, and all lineage components in [kubeflow/frontend](https://github.com/kubeflow/frontend). There are some other components that would make sense to migrate:
- [x] ArtifactDetails.tsx
- [x] ExecutionDetails.tsx
- [x] ExecutionList.tsx

@Bobgy Would there be a way to make sure all future changes are propagated similarly, for the time being. I understand that creati

[2020-03-06 06:42] Bobgy commented on #217
@avdaredevil Thanks for filing the issue!

I think there's no easier way other than creating shared components.
I can see if I can put these into KFP 1.0 plan if you don't have cycles, but I don't expect any changes in those components for the foreseeable future. Maybe it's not very urgent.

One question what does `all the new Lineage Relevant updates` mean?

[2020-03-06 06:43] Bobgy commented on #217
Actually, I guess the next major features for those pages is: https://github.com/kubeflow/pipelines/issues/3157 and adding server side pagination.

[2020-03-11 06:06] samuel-sujith opened #219 "metadata-deployment pod error out but not crashing"
/kind bug

**What steps did you take and what happened:**
.Installed Kubeflow 1.0
.metadata-deployment pod shows running but availability is 0/1
metadata-deployment-956d59c56-5m7ck                              0/1     Running     2          32m

kubectl logs information for the pod is given below
E0311 05:55:48.285674       1 main.go:98] Failed to create ML Metadata Store: mysql_real_connect faile

[2020-03-12 08:11] samuel-sujith commented on #219
Based on the debugging I did today, it seems like the mysql CLUSTER-IP is not accessible from the metadata-deployment pod.

The POD IP for mysql is accessible from the pod of metadata-deployment but the CLUSTER-IP is not.

[2020-03-12 09:06] samuel-sujith commented on #219
I think that there are some issue in connections between SQL and their controller. Below is the example of logs in the katib controller

root@esamsuj01:~/manifests# kubectl logs katib-db-manager-54b64f99b-kjgcs -n kubeflow
E0310 07:52:11.531818       1 mysql.go:62] Ping to Katib db failed: dial tcp 10.105.210.35:3306: connect: connection refused
E0310 07:52:16.531753       1 mysql.go:62] Ping to K

[2020-03-12 09:50] samuel-sujith commented on #219
Just saw that in metadata/server/main.go
Line no 48 says mySQLServiceHost     = flag.String("mysql_service_host", "localhost", "MySQL Service Hostname.")

And i dont think this is overridden in the start of the container.
can see that only http_port is overridden.

spec:
  containers:
  - command:
    - ./server/server
    - --http_port=8080
    image: gcr.io/kubeflow-images-public/metadata:v0.1.1

[2020-03-12 10:15] samuel-sujith commented on #219
Added the override for mysql_service_host in the container and now it seems to be working fine

root@esamsuj01:~/manifests/metadata/base# kubectl logs metadata-deployment-c54bd55b4-f24rs -n kubeflow
E0312 10:13:04.801148       1 register.go:68] Ignored unknown category "container" with type "workspace" in "http://github.com/kubeflow/metadata/schema/alpha/containers/workspace.json"

[2020-03-12 10:15] #219 closed

[2020-03-15 08:16] gtarcoder opened #222 "Description of metadata related pods and services"
/kind feature

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
There are many .. pods and servcices in kubeflow related with metadata:
**Pods:**
metadata-db-xx
metadata-deployment-xxx
metadata-envoy-deployment-xxx
metadata-grpc-deployment-xxx
metadata-ui-xxx

**Services:**
metadata-db
metadata-envoy-service
metadata-grpc-service
metadata-service
m

[2020-03-25 15:04] squaricdot commented on #202
okay moving to envs worked. is this just happening because i downloaded the latest available kustomize ? is there any up to date documentation about what keys to use, or are valid in regards of latest version or updates.

it was rather unclear.

[2020-03-27 20:00] apryiomka opened #224 "Metastore package should not require installation of ML frameworks such tensorflow"
/kind feature

**Describe the solution you'd like**
Currently a lot of packages are being installed whether requested or not. For instance, we do not use tensorflow and work with sckit-learn instead, but the image gets bloated with tensorflow packages and also tensorflow is loaded automatically when trying to log metrics

[code]

[2020-03-31 02:25] rapuckett commented on #174
Getting same with version 0.7. Haven't tried 1.0 yet, but the source for KF Pipelines 0.3.0 shows the same internal Google URL (below) for proxy-agent, so suspecting it's still broken...?

metadata-grpc logs:

2020-03-31 02:16:44.713587: F ml_metadata/metadata_store/metadata_store_server_main.cc:219] Non-OK-status: status status: Internal: mysql_real_connect failed: errno: 2002, error: Can't conne

[2020-04-28 01:13] jlewi opened #225 "Future of metadata development and deployment - standalone? Only as part of KFP"
/kind feature

What is the future of metadata deployment?

There are currently at least two variants of metadata
  * There is one version of metadata that is tightly integrated and deployed as part of KFP
  * There is a second version of metadata which can be deployed independently

I think the differences might pertain mostly to the UI. I think KFP ships a UI for metadata integrated into the KFP

[2020-04-28 01:23] rmgogogo commented on #225
quick question, here "metadata deployment" means google/ml-metadata or KF metadata?

If google/ml-metadata, then it's already in KFP (google/mlmd provided a gRPC server). I think we don't have plan/resource to continue the KF metadata, right? I may lack of knowledge/info on the context.

[2020-04-28 12:15] Bobgy commented on #225
I think https://github.com/kubeflow/metadata/issues/217#issuecomment-595625018 is the only planned future feature. Other than that, keeping current status and asking for community help is the best I can forsee.

[2020-04-28 15:40] #198 closed

[2020-04-28 19:34] animeshsingh commented on #225
If we don't plan to extend it, and it becomes redundant with google/ml-metadata, and that's whre KFP is focussed, best to bring it up in community meeting to decide on the future

[2020-04-29 00:01] jlewi commented on #225
If #217 is the only planned feature then what does this mean for creating a generic metadata story?

When people deploy Kubeflow pipelines do they get:
  1. A metadata backend that can be used to record metadata from arbitrary services (not just KFP)
  1. A UI for displaying metadata even if it wasn't created by KFP.

/cc @paveldournov

[2020-04-30 18:49] nlarusstone opened #226 "Metadata Workspace names can clash based on case"
/kind bug

**What steps did you take and what happened:**
I created a workspace called "test":
[code]

 I then tried to create a workspace called "TEST":
[code]

I get the following error:
[code]

**What did you expect to happen:**
I expected to be returned either a new workspace or (preferably) the original workspace I created

**Anything else you would like to add:**
I think the issue comes from

[2020-05-05 13:40] Bobgy commented on #225
With current status, both 1. and 2. mentioned above are true.

If we have bandwidth, it's better metadata UI is keeping maintained separately, but I don't think that's the case now.

[2020-05-06 02:21] akirillov commented on #224
It seems that parts of TensorFlow are used in [google/ml-metadata](https://github.com/google/ml-metadata) which is a dependency of kubeflow/metadata. The use-case is not very clear to me but it looks like various TensorFlow-specific domain objects are used in the RPC calls between SDK and Metadata Service.

I'm wondering if there's a temporary workaround for this? We're using PyTorch and MXNet and

[2020-05-07 00:31] akirillov commented on #224
Here's a relevant issue in [google/ml-metadata](https://github.com/google/ml-metadata) repo with a PR open: https://github.com/google/ml-metadata/issues/25. Once landed, the problem with TensorFlow dependency in Metadata SDK should be resolved.

[2020-05-11 18:19] apryiomka commented on #73
Currently hangs with substantial number of artifacts

[2020-05-11 19:19] jlewi commented on #73
/cc @paveldournov @rmgogogo

[2020-05-11 19:27] jlewi commented on #73
In slack @apryiomka reported that this is in connection with KFP.

[2020-05-11 23:21] jlewi commented on #225
I believe when you install the full KFP there are two different URLs for the UI for the metadata store

1. https:/${KFENDPOINT}/_/metadata
1. https://${KFENDPOINT}/_/pipeline/#/artifacts

Are these both pointing at the same UI service or are they two different servers?

I suspect they are two different servers but I could be wrong.

[2020-05-11 23:28] Bobgy commented on #225
They are two different servers. Some code is reused in kubeflow/frontend, but the codebase are built, distributed completely separatedly.

[2020-05-11 23:41] avdaredevil commented on #225
Yes these are two different code bases (kubeflow/metadata) and
(kubeflow/pipelines) both which import MLMD Lineage from
(kubeflow/frontend).

Ideally pipelines would not have showed the link to the artifact store when
running in iframe mode (within central-dashboard). But currently both UIs
display the same information

On Mon, May 11, 2020 at 4:28 PM Yuan (Bob) Gong <notifications@github.com>
wro

[2020-05-12 00:11] rmgogogo commented on #73
for pagination, there is already a ticket in kubeflow/pipelines.
@Bobgy

for the "Artifact store becomes slower and slower",
@jingzhang36 for perf

[2020-05-12 01:32] Bobgy commented on #73
FYI, the tracking issue for pagination is https://github.com/kubeflow/pipelines/issues/3226.

[2020-05-12 01:38] Bobgy commented on #73
@lilida @apryiomka Do you use metadata with Kubeflow Pipelines?
Does https://github.com/kubeflow/pipelines/pull/3457 help you? It shows execution details page when you click on a pipeline run step's Metadata tab. The tab has links to artifacts related to that executions.

[2020-05-18 13:52] jlewi commented on #225
Here's my understanding:

* [Google Metadata](https://github.com/google/ml-metadata) provides low level libraries for dealing with metadata
   * It defines a [data model](https://github.com/google/ml-metadata/blob/master/g3doc/get_started.md) but not particular schemas
   * It also provides client libraries for talking to the database but not a server

* This repository (kubeflow/metadata) started

[2020-05-18 13:58] jlewi commented on #225
I think a major feature lineage tracking was introduced with 1.0

* I think at 1.0 the front end changes were only in the KFP UI but have since been migrated into the standalone UI.

* Do we have examples illustrating lineage tracking with and without pipelines?

[2020-05-19 00:58] Bobgy commented on #225
Some clarifications on current status

Google Metadata repo also provides a grpc server for interacting with metadata https://github.com/kubeflow/manifests/blob/master/metadata/base/metadata-deployment.yaml#L73
KFP standalone is also using this grpc server.

This repository made a REST server on top of it (I'm not sure about technical details, it could be a wrapper on metadata client or the grpc s

[2020-05-19 01:08] Jeffwan commented on #225
We do use metadata for some metrics tracking in non kfp projects. The reason this is more like a project for KFP is because we don't have experiment concept for other workloads, For example, user has to use SDK manually in their distributed training operator or notebook to log params or metrics. Visualization is limited as well. Even the adoption of this project is not high at this moment, I hope

[2020-05-19 01:55] rmgogogo commented on #225
Current KFP is using google/metadata repo for MLMD stuff.
https://github.com/google/ml-metadata

It's deployed as a gRPC server which connects with the DB. Pipeline tasks/steps calls the gRPC server to access data.

[2020-05-19 01:56] rmgogogo commented on #225
https://github.com/kubeflow/pipelines/tree/master/manifests/kustomize/base/metadata

FYI. It uses this binary to access MLMD.
https://github.com/kubeflow/pipelines/blob/master/manifests/kustomize/base/metadata/metadata-grpc-deployment.yaml#L19

[2020-05-19 21:56] JakeTheWise commented on #145
I'm also needing to delete stuff.

[2020-06-03 07:10] SatwikBhandiwad opened #228 "metadata-deployment and metadata-grpc-deployment pods go to CrashLoopBackOff because of db issue"
/kind bug

**What steps did you take and what happened:**
[code]

[code]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Metadata version:
metadata deployment docker image: **metadata:v0.1.11**
metadata grpc deployment docker image: **ml_metadata_store_server:v0.21.1**
- Kubeflow version: 1.0.1
- Minikube version:
-

[2020-06-03 11:43] SatwikBhandiwad commented on #228
@zhenghuiwang

[2020-06-03 13:12] jlewi commented on #228
@neuromage @jessiezcc is there someone working on metadata that can look into this?

[2020-06-03 13:13] jlewi commented on #228
/cc @zhitaoli

[2020-06-03 13:14] jlewi commented on #225
/cc @zhitaoli

[2020-06-03 15:01] neuromage commented on #228
@jlewi I think we've fixed this problem for KFP's metadata server.

Should we deprecate the metadata server here in favour of the deployment from KFP which is maintained and updated?

[2020-06-05 14:18] daikeshi commented on #128
Hello, is there any plan to fix this bug?

[2020-06-08 13:22] jlewi commented on #228
@neuromage I believe this is being discussed in kubeflow/metadata#225

[2020-06-11 11:28] avishniakov commented on #145
Facing same issue, how deletion of artifacts can be achieved in Kubeflow 1.0?

Reproduction:
[code]

[2020-07-03 11:43] Manvi07 commented on #202
Hi @parthmishra

I am facing a similar issue, what
[code]
Please let me know how I should change my file.
[code]

[2020-07-06 10:42] Manvi07 opened #229 "Error: json: cannot unmarshal array into Go struct field ConfigMapArgs.configMapGenerator.env of type string"
/kind bug

**What steps did you take and what happened:**
In order to use kubeflow metadata component, I was following the instructions given in the documentation, https://www.kubeflow.org/docs/components/metadata/#installing-the-metadata-component.

But I get the following error:
[code]
(Also reported here: [#2650](https://github.com/kubernetes-sigs/kustomize/issues/2650))
**What did you expect t

[2020-07-06 13:28] Manvi07 opened #230 "Error: DNS resolution Failed for metadata-grpc-service.kubeflow:8080"
/kind bug

**What steps did you take and what happened:**
On running the example metadata notebook [demo.ipynb](https://github.com/kubeflow/metadata/blob/master/sdk/python/sample/demo.ipynb), the step of workspace creation fails, with the following logs:
[code]

**What did you expect to happen:**
Successful creation of workspace.

**Environment:**

- Kubeflow version:1.0.2
- Kubernetes version: (u

[2020-07-06 17:35] jlewi commented on #225
/cc @aronchick

[2020-07-06 17:40] jlewi commented on #225
If I recall correctly this repository might have originally been providing the following functionality on top of TFX-metadata

* A python SDK for logging to the metadata server
* Higher level schemas then what TFX metadata provides
* Some tools (rest API?) for dynamically managing schemas in TFX metadata
* A REST API for TFX metadata
* Standalone (not bundled with KFP) UI for metadata

Some of thi

[2020-07-07 03:11] Bobgy commented on #225
I think we don't have a replacement for these items:
* A python SDK for logging to the metadata server
* Higher level schemas then what TFX metadata provides
* Standalone (not bundled with KFP) UI for metadata

* (not sure on this one) Some tools (rest API?) for dynamically managing schemas in TFX metadata
* A REST API for TFX metadata -- can be replaced by auto generated grpc http client over env

[2020-07-07 13:36] jlewi commented on #225
@neuromage @Bobgy I thought KFP was defining some higher level schemas?

[2020-07-10 07:49] Manvi07 commented on #229
Solution: reinstalled `kustomize` using the `snap` package manager. And made some small changes as described in [#202](https://github.com/kubeflow/metadata/issues/202)

`sudo snap install kustomize`

[2020-07-10 07:49] #229 closed

[2020-07-10 09:42] Manvi07 commented on #230
Closing. Unable to connect when running on local, should use Kubeflow Jupyter Notebooks.

[2020-07-10 09:42] #230 closed

[2020-07-11 16:54] rsassPwC commented on #174
I'm using the latest proxy-agent image gcr.io/ml-pipeline/**inverse-proxy-agent:1.0.0-rc.5** in my standalone deployment on microk8s and this is the only pod that has a CrashLoopBackOff.

Is the pod needed when I just want to use Kubeflow Piplines on a kubernetes cluster?
thanks in advance

**logs from the container:**

+++ dirname /opt/proxy/attempt-register-vm-on-proxy.sh
++ cd /opt/proxy
++ pwd

[2020-07-29 07:24] SatwikBhandiwad opened #232 "Support TLS connection for external SQL Database"
/kind feature

**Describe the solution you'd like**
Provide options to enable TLS connection for external SQL Database

[2020-08-05 13:25] lyschoening opened #233 "Bump ml-metadata dependency to include 0.22.1"
/kind feature

**Describe the solution you'd like**

The ML Metadata dependency in the SDK is currently pinned to 0.21.1. Would it be possible to bump this dependency to allow 0.22.1? The release notes don't list any breaking changes.

https://github.com/google/ml-metadata/blob/master/RELEASE.md#release-0221

[2020-08-13 09:57] ianhellstrom opened #234 "Cannot install kubeflow-metadata==0.3.1 because of ml-metadata"
/kind bug

**What steps did you take and what happened:**
I cannot install `kubeflow-metadata` version 0.3.1 because it requires `ml-metadata` version 0.21.1, which does not appear to be available through pip.

[code]

[code]

**What did you expect to happen:**
Install `kubeflow-metadata` as requested.

**Environment:**

- Metadata version: 0.21.1
- Kubeflow version: 1.0.1
- Kubernetes version: 1.

[2020-08-13 09:59] ianhellstrom commented on #234
This appears to be related to: https://github.com/google/ml-metadata/issues/37

[2020-08-17 09:35] sbakiu commented on #224
Kind reminder, there is a new release in https://github.com/google/ml-metadata/releases that solves this issue

[2020-08-18 11:42] montenegrodr opened #235 "No type found for query: kubeflow.org/alpha/execution"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Created a step in my kubeflow pipeline only for persisting metadata. But the step fails when trying to create an `Execution` with:

[code]

Full stack:

[code]

Pipeline Step:

[code]

**What did you expect to happen:**

Create an execution and store the metadata.

**Anything else you w

[2020-08-20 21:49] #149 closed

[2020-08-20 21:49] #217 closed

[2020-08-27 16:02] ca-scribner opened #237 "Show Model hyperparameters in artifact/lineage UI"
/kind feature

**Describe the solution you'd like**
Hyperparameters are stored in the Model metadata but not shown on the artifact page.  When browsing models it would be useful to see the hyperparameters.

**Anything else you would like to add:**
Hyperparameters are stored in the `__ALL_META__` property of the Model artifact in mlmd, along with all other data.  This JSON is [omitted when showing

[2020-09-08 14:41] ntakouris commented on #228
Make sure that all the other pods are not in status container creating, pulling the images required. `kubectl get pods -A` and `kubectl describe pods -A` can be used to verify this status.

After everything downloaded the issue was fixed automatically on my machine(s) (both windows and macos, kubernetes bundled with docker)

[2020-09-22 14:49] DavidSpek commented on #234
I'm also running into this issue while trying to add multi-user env support to kubeflow-kale. The Notebook Server I am running is using python 3.8, which is supported in ml-metadata 0.24.0 released a week ago. https://github.com/google/ml-metadata/releases
The only breaking change that is listed when updating from 0.21.0 to 0.24.0 is `Python MetadataStore APIs return mlmd errors instead of tensorf

[2020-09-27 04:09] doctorai-in commented on #219
where we should override mysql_service_host in the container

[2020-10-01 18:36] Swikar opened #240 "Proposals for metadata improvements"
Evaluate KF Metadata blog post (https://blog.kubeflow.org/jupyter/2020/10/01/lineage.html)

- Everything has a version
- Everything has a UUID
- Use externalized protos
- Everything derives from abstract base class
- Everything supports extensibility within type
- Ability to write your own custom types that derive from abstract base class
- Everything based on protos (hosted externally)
- Build to

[2020-10-01 18:43] Swikar commented on #240
/area metadata

[2020-10-01 18:44] Swikar commented on #240
/unsigned area front-end

[2020-10-01 18:44] Swikar commented on #240
/unasigned area front-end

[2020-10-01 18:44] Swikar commented on #240
/unsigned area frontend

[2020-10-01 18:44] Swikar commented on #240
/unsigned area frontend

[2020-10-01 18:45] Swikar commented on #240
/kind feature

[2020-10-01 18:47] Swikar commented on #240
/assign @aronchick @cliveseldon

[2020-10-01 19:15] Swikar commented on #240
/area/front-end cancel

[2020-10-01 19:16] Swikar commented on #240
/front-end cancel

[2020-10-01 19:19] Swikar commented on #240
/remove-area front-end

[2020-10-01 19:22] Swikar commented on #240
/area metadata
/kind feature
/assign @aronchick @cliveseldon

[2020-10-11 14:30] OrrAvrech commented on #235
Any updates?
Got the same error on a similar code, after accessing the metadata-grpc-deployment through an external IP.
Kubeflow was deployed using GCP's UI.

[2020-10-15 17:52] jlewi opened #241 "K8s Metadata watcher: Support Executions and Events"
/kind feature

I think it would be great if users could do the following

1. Create a K8s resource (e.g. TFJob, PyTorchJab, KatibJob, K8s Job, Tekton TaskRun, Tekton PipelineRun, Argo, etc...)
1. Attach annotations to the resource indicating input and output artifacts
1. Apply the resource
1. See the lineage graph in KF metadata
    * Artifacts should show up as artifacts
    * The batch resource

[2020-10-16 06:03] Swikar commented on #241
I will look at it

[2020-10-19 11:17] EKami commented on #228
I have exactly the same issue and I'm new to kubernetes/kubeflow. I really don't know where to start to debug this issue. Is there any workaround for this? Thanks!

[2020-10-19 12:47] jlewi commented on #228
@karlschriek Does anyone from the metadata group want to look into this?

[2020-10-28 14:58] Swikar commented on #241
Attach annotations to the resource indicating input and output artifacts.

Can I have more detail or example related annotation used somewhere?

I have already modified logging as execution rather than artifacts.

Thanks

[2020-10-30 19:39] jlewi commented on #241
https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/

I imagine we would want to define some schema for annotations to contain input/output schemas. These might just be a list of the json representations of some of the MLMetadata schemas for artifacts.

We want to keep both. The inputs and outputs should be stored as artifacts and then there should be an execution as well

[2020-10-30 20:53] jlewi commented on #241
So here's a more precise example.

The dataset schema is currently defined here
https://github.com/kubeflow/metadata/blob/master/schema/alpha/artifacts/data_set.json

And an example is

[code]

So come up with the json representation two datasets as illustrated above one for the output and one for the input.

Then create a Kubernetes Job which has annotations containing those datasets; e.g.

[code

[2020-10-31 21:19] jlewi opened #243 "Testing for K8s Metadata Watcher"
We need a good way to test the K8s metadata watchers implementation with MLMD.

Two ways that come to mind are

1. Creating a fake implementation of the MLMD  gRPC meta data [store service](https://github.com/google/ml-metadata/blob/1772ee39766c3c02dba4b3e3b43a8745b2eb58af/ml_metadata/proto/metadata_store_service.proto#L550
1. Running MLMD in a subprocess possibly using sqllite
1. Running MLMD in

[2020-10-31 23:23] jlewi opened #244 "K8s Watcher should use a config map to load the resource list"
/kind feature

Right now the deployment is relying on the resource list json being baked into the docker image.
https://github.com/kubeflow/metadata/blob/04b5e5630721d672049aa46361597c57514e28e6/watcher/dockerfiles/watcher.yaml#L22

This should be changed to instead use a config map. We should use a kustomize config map generator so that the config map has a unique name based on the content hash.

[2020-10-31 23:25] jlewi opened #245 "k8s watcher should use structured logging"
/kind feature

The watcher should use structured logging. We should use [logr][https://github.com/go-logr/logr) as an abstract logging interface with [zap](https://github.com/uber-go/zap) as the actual implementation.

This will allow us to emit structured logs (i.e. json records). Using structured logs we attach metadata as key/value pairs; e.g we can log the name, uid, etc.. of the objects being

[2020-10-31 23:26] jlewi commented on #245
/cc @Swikar

[2020-10-31 23:36] jlewi commented on #241
@swikar I hacked together a rudimentary implementation in #246

That PR contains an example job:
https://github.com/kubeflow/metadata/blob/96285b257d999715a88befc659d722c895d7bbc5/watcher/examples/simple_job.yaml

The watcher then produces a lineage graph like the following

![lineage](https://user-images.githubusercontent.com/777219/97792114-42d1f600-1b97-11eb-98c4-bc95a523f482.png)

[2020-10-31 23:48] jlewi opened #247 "Convert unittests to Tekton"
/kind bug

We need to convert the unittests to Tekton workflows per: kubeflow/testing#769

We should be able to reuse the existing go unittest Tekton workflow. We can just copy what gcs-blueprints is doing.
https://github.com/kubeflow/gcp-blueprints/blob/c56166658410a388235933bb99a9c032bec47b82/prow_config.yaml#L4

[2020-10-31 23:53] jlewi opened #248 "K8s Watcher Should Not Create New Artifacts If Artifact Already Exists"
/kind feature

Follow on to #241 and #246. In that PR the watcher looks at annotations on Kubernetes resources and creates artifacts from them.

e.g suppose we have the job

[code]

The watcher will create MLMD artifacts corresponding to the input and output annotations.

Right now the watcher doesn't check if artifacts corresponding to a given name already exist. If it does then we should reuse t

[2020-10-31 23:55] jlewi opened #249 "K8s Metadata watcher: handle multiple inputs & outputs"
/kind feature

Follow on to #241 and #246. In that PR the watcher looks at annotations on Kubernetes resources and creates artifacts from them.

[code]

Right now the watcher can only handle the case where input and output contains a single artifact. We should extend that to handle the case where the the input and output can be lists of items. In which case we should create one artifact for each i

[2020-11-01 00:10] jlewi opened #250 "Get Rid Of the Standalone Metadata UI"
/kind feature

Right now there are two metadata UIs.

1. Built into KFP (i.e. the Execution and Artifacts view inside KFP)
1. A standalone version of the UI for metadata
    * https://github.com/kubeflow/metadata/tree/master/frontend
    * This is what the ArtifactStore in central dashboard links to

The standalone UI has fallen behind and per #225 it doesn't look like anyone will be maintaining i

[2020-11-01 00:13] jlewi commented on #225
I filed #250 to get rid of the standalone metadata UI. Its lagging behind the KFP metadata UI and noone seems to be maintaining.

Regarding the SDK; I stumbled upon
https://www.tensorflow.org/tfx/ml_metadata/api_docs/python/mlmd/metadata_store/MetadataStore

[2020-11-01 04:29] #240 closed

[2020-11-02 13:22] ca-scribner commented on #241
Loving this idea - I've wanted to help people use the lineage explorer/kf metadata but without them teaching their training/predicting/... processes how to do it.  This'll be great.

DataSet, Model, and Metrics all have their own artifact in kf metadata and all would all be really helpful to log.  For Models and Metrics, there is also a convention to put important values (hyperparameters for Model

[2020-11-02 17:22] Swikar commented on #241
Jeremy this is awesome. Let me go ahead and look more into it. thanks

[2020-11-03 03:01] Jeffwan commented on #250
@jlewi

em. How does user check artifact if user uses metadata outside KFP? Should we redirect them to KFP pipeline UI?

I think there're some users use SDK to log_params like this way.  https://github.com/kubeflow/metadata/blob/master/sdk/python/sample/demo.ipynb

[2020-11-03 03:36] Jeffwan commented on #241
The way to use MLMD might be different for TFJob, PyTorchJab, KatibJob.

Do we want to use all the data type from MLMD or a subset?

We may use it in a different way, for example, create a context for each TFJob definition, create execution for TFjobRun. I think most jobs support backoff and each run can be different execution. We need extra work to create attributions to link artifacts back to co

[2020-11-03 10:19] Bobgy commented on #250
@Jeffwan do you have contact with such users?
I think if the existing UI works for them, we can keep it until KFP can provide sth that's a superset of its features and replace it.

But I kind of doubt if users can successfully use that UI, because it suffers from the same scalability issue KFP artifact list is having: there was no pagination for the artifact list request, so the UI could only show

[2020-11-03 12:56] jlewi commented on #250
Yes. I checked and Executions and Artifacts not logged through KFP still show up there.

[2020-11-03 17:42] Jeffwan commented on #250
@Bobgy I don't have a list. We suggested AWS users to consider this solution for tracking purpose and built some tutorials in the workshops. I don't know how many users are really on it. I think if we think KFP UI is the replacement, it makes sense to remove the one from central dashboard.

[2020-11-05 20:29] ca-scribner commented on #241
Providing a watcher that can spot annotations and create from them real MLMD objects, we give developers (or users) of the different products to make their own decisions.  So someone making the `launch TFJob` code could automate the `add metadata that makes relevant mlmd objects` to their liking

[2020-11-06 06:47] Bobgy commented on #250
Right, in this case we can get rid of metadata UI

[2020-11-06 06:48] Bobgy commented on #250
I will update k8s metadata manifest

[2020-11-09 02:46] Bobgy commented on #250
@Jeffwan @jlewi I want to confirm, are there still dependents of metadata-server?
https://github.com/kubeflow/manifests/blob/729e3cda92b7c8656441480995da6fd0a9a18ce3/metadata/overlays/db/metadata-deployment.yaml#L4

[2020-11-09 03:20] Jeffwan commented on #250
I think it would be great to keep them. I think SDK use http endpoint, if we remove HTTP deployment, SDK should be deprecated as well.

User can still use SDK and check artifacts in pipeline manifest UI. We need to have more discussion on the roadmap. Before we have the conclusion, I would suggest to only delete UI components

[2020-11-09 22:54] Bobgy commented on #250
I see, if we cannot remove http endpoint, then we cannot remove UI server yet.

[2020-11-10 15:33] neuromage commented on #250
We would like to suggest we delete both SDK and UI here. Instead, we can consolidate this within KFP, where there is already a UI for metadata. Furthermore, we'd like to propose that we add SDK features directly into KFP SDK instead, hence allowing users to use one SDK to both construct pipelines, and query metadata from their notebooks.

We have outlined a proposal here, to be discussed during th

[2020-11-10 16:10] Jeffwan commented on #250
Great. If KFP already have a plan. We can deprecate UI server and SDK together along with frontend.  @Bobgy Can you update the manifest PR?

[2020-11-11 08:30] Bobgy commented on #250
OK, SGTM

[2020-11-11 08:32] Bobgy commented on #250
@kubeflow/wg-notebook-leads Will you be able to remove the metadata tab from central dashboard?

[2020-11-11 23:01] Bobgy commented on #250
/reopen
Left over is the entry in central dashboard.
/assign @kubeflow/wg-notebook-leads

[2020-11-12 19:42] Jeffwan commented on #250
I file a PR to remove the link in central dashboard

[2020-11-23 15:20] ca-scribner commented on #224
Is there a plan to move to ml-metadata>=0.23.0?  Current version of 0.21.0 forces an install of tensorflow anywhere someone wants to use kubeflow-metadata, which is undesirable and unintuitive

[2020-12-10 15:42] muthurajr commented on #250
@jlewi @Bobgy I created a separate issue for Metadata deployments in google-cloudsql. https://github.com/kubeflow/manifests/issues/1692

Hope its related this issue as well.

[2020-12-24 06:20] Bobgy commented on #250
Transferred the issue to https://github.com/kubeflow/gcp-blueprints/issues/182

[2020-12-29 17:41] nicbillen opened #253 "metadata-writer pod does not start: Illegal instruction (core dumped)"
/kind bug

**What steps did you take and what happened:**
I have installed Kubernetes 1.17.16 together with Istio 1.3.1 on a new BareMetal cluster. Afterwards I have used https://raw.githubusercontent.com/kubeflow/manifests/v1.1-branch/kfdef/kfctl_istio_dex.v1.1.0.yaml to install Kubeflow (without the two istio dependencies istio-stack and istio). The whole system starts. But the metadata-writer p

[2021-01-12 19:23] souvik-deepsource commented on #235
@jlewi Any update on this? This is breaking for the demo notebook.

[2021-01-13 05:12] harshit-deepsource commented on #235
@jlewi Same with me.

[2021-01-13 09:11] montenegrodr commented on #235
no

[2021-01-13 13:13] souvik-deepsource opened #254 "Handle exception when Type is not found"
When creating an object from the `Execution` class, the `_type_id` variable stores the id of the execution type by querying the Type table in the database. During first executions, it is natural that the type won't be present and thus the database will throw an error. This error is blocking when running the [demo notebook](https://github.com/kubeflow/metadata/blob/master/sdk/python/sample/demo.ipy

[2021-01-13 13:36] souvik-deepsource commented on #235
@montenegrodr It's due to this [issue](https://github.com/kubeflow/metadata/issues/254).

[2021-01-14 16:39] #254 closed

[2021-01-14 17:19] harshit-deepsource commented on #254
Use Kubeflow v1.1.0 and it should work just fine.

[2021-01-14 17:20] harshit-deepsource commented on #235
@montenegrodr

Try using Kubeflow v1.1.0 and it should work just fine. It worked for me.

[2021-01-14 17:28] umka1332 commented on #235
Same issue with Kubeflow v1.2.0.

[2021-01-22 19:51] anupash147 commented on #235
am using kubeflow  v1.2.0 and still seeing the issue,,

[2021-01-22 21:01] umka1332 commented on #235
AFAIK Kubeflow metadata is deleted from Kubeflow v1.2.0 in favor of ML metadata since the first one is abandoned and the second one is supported by KFP. Please see:
https://github.com/kubeflow/metadata/pull/242#issuecomment-716343533
https://github.com/kubeflow/metadata/issues/250
https://github.com/kubeflow/metadata/issues/225
Please correct me if Kubeflow metadata should work with Kubeflow v1.2.

[2021-03-02 16:12] qinjie545 commented on #253
I‘v got the same problem, waiting for resolving.

Best regards!

[2021-04-01 06:27] sagarshrestha24 opened #256 "Metadata information cannot display it in the UI"
**What steps did you take and what happened:**
I have inserted most of the information but in artifact UI only few properties are shown.
some of the properties are not shown that is
                Accuracies & loss graphs
                Data Version
                Training Logs
                Models
                Description
                Purpose
                Scientist ID

[2021-04-06 19:31] mageru commented on #253
Getting this behavior on OpenShift 4.6.13 as well with OpenDataHub 1.0.0 using gcr.io/ml-pipeline/metadata-writer:1.0.4

[2021-04-09 14:10] neuromage commented on #235
That is correct @umka1332. The SDK in this repo is unmaintained, and so we decided to move to MLMD gRPC service for now.

[2021-04-13 10:14] sagarshrestha24 commented on #230
i got same issue how can we slove this issue

[2021-04-26 06:38] tongchao199 opened #257 "Update google_ml_metadata to v0.27.0 version, resulting in compilation failure"
/kind bug

**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
* Upgrade google_ml_metadata to `v0.27.0` version
  ![image](https://user-images.githubusercontent.com/18660867/116039005-c3803380-a69c-11eb-90d6-e1f7b27b10d7.png)
  ![image](https://user-images.githubusercontent.com/18660867/116038924-ab101900-a69c-11eb-9006-81efc995fa00.png)

* make bu

[2021-06-03 08:48] ssdst commented on #174
the  problem  is  not   solved    in  kf 1.2.0   installed   by kfctl_k8s_istio.v1.2.0.yaml

[2021-06-03 08:52] ssdst commented on #174
below  info   is   metadata-grpc-deployment  pod  logs
F ml_metadata/metadata_store/metadata_store_server_main.cc:219] Non-OK-status: status status: Internal: mysql_real_connect failed: errno: 1130, erro
│ stream closed

[2021-06-03 09:03] ssdst opened #259 "metadata-grpc-deployment pod is not working in kf 1.2.0 ， it‘ s status is CrashLoopBackOff"
describe   is：
[code]

log  is：
[code]

so is there anlyone  else  know  how  can  i  solve the problem ，thanks a lot

[2021-06-03 09:08] ssdst commented on #259
forgive  my poor english

[2021-06-16 04:50] V-Bhadauriya opened #260 "Not able to create Workspace in kubeflow 1.2"
/kind bug

I am following this [notebook](https://github.com/kubeflow/metadata/blob/master/sdk/python/sample/demo.ipynb) to create Workspace, Executions and Runs but its not working in kubeflow 1.2 but was working in kubeflow 1.1.

**Environment:**

- Metadata version: v0.21.1
- Kubeflow version: 1.2

[2021-08-31 07:10] ZxMYS opened #261 "Broken link in README"
/kind bug

The README says 'For more information, you can visit [this page](https://www.kubeflow.org/docs/components/metadata/).', but the page redirects to kubeflow document index page and it doesn't show a metadata component.

[2021-08-31 07:31] ZxMYS commented on #261
It is there in 1.2 doc https://v1-2-branch.kubeflow.org/ tho

[2021-11-19 18:14] theadactyl commented on #261
Thank you! Updated here: https://github.com/kubeflow/metadata/pull/265

[2021-11-19 18:14] #261 closed

[2021-11-19 18:18] #202 closed

[2021-11-19 18:18] #222 closed

[2021-11-19 18:18] #224 closed

[2021-11-19 18:18] #225 closed

[2021-11-19 18:18] #226 closed

[2021-11-19 18:18] #228 closed

[2021-11-19 18:18] #232 closed

[2021-11-19 18:18] #233 closed

[2021-11-19 18:18] #234 closed

[2021-11-19 18:18] #235 closed

[2021-11-19 18:18] #237 closed

[2021-11-19 18:18] #241 closed

[2021-11-19 18:18] #243 closed

[2021-11-19 18:18] #244 closed

[2021-11-19 18:18] #245 closed

[2021-11-19 18:18] #247 closed

[2021-11-19 18:18] #248 closed

[2021-11-19 18:18] #249 closed

[2021-11-19 18:18] #250 closed

[2021-11-19 18:18] #253 closed

[2021-11-19 18:18] #256 closed

[2021-11-19 18:18] #257 closed

[2021-11-19 18:18] #259 closed

[2021-11-19 18:18] #260 closed